<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content drag-content = "false">
    <ion-nav-bar class="bar-light">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
          <!-- <img src="img/wg-bulb-logo.png" class="wg-logo" menu-toggle="left"> -->
        </button>
      </ion-nav-buttons>
      <!-- <ion-nav-buttons side="right">
        <button class="button button-icon button-clear" ng-show="showRightIcon" ng-class="showCalendarIcon ? 'ion-ios-calendar-outline' : 'ion-ios-list-outline'"
        ng-click="showCalendarIcon ? showScheduleCalendar() : showScheduleList()">
        </button>
      </ion-nav-buttons> -->

    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" expose-aside-when="large">

    <ion-content class="padding-top menu-list">
      <!-- <div><wg-profile-photo/></div> -->
      <!-- <h4 class="center-text">{{currentUser.name}}</h4> -->
      <ion-list>
        <ion-item class="item-icon-left" menu-close href="#/app/schedule">
          <i class="icon ion-calendar"></i>
          Schedule
        </ion-item>
        <!-- Functionality hidden -->
        <!-- <ion-item class="item-icon-left" menu-close href="#/app/available-shifts">
          <i class="icon ion-network"></i>
          Shift trades
        </ion-item> -->
        <!-- <ion-item class="item-icon-left" menu-close href="#/app/target">
          <i class="icon ion-clock"></i>
          Target Hours
          <span class="item-note">
            {{currentUser.target}} {{currentUser.target == 1 ? 'hour' : 'hours'}}
          </span>
        </ion-item> -->
        <ion-item class="item-icon-left" menu-close href="#/app/availability-tabs/availability">
          <i class="icon ion-grid"></i>
          Availability
          <span class="item-note">
            {{currentUser.totalHours}} {{currentUser.totalHours == 1 ? 'hour' : 'hours'}}
          </span>
        </ion-item>
        <ion-item class="item-icon-left" menu-close href="#/app/earnings">
          <i class="icon ion-cash"></i>
          Earnings
        </ion-item>
        <ion-item class="item-icon-left" menu-close href="#/app/preferences">
          <i class="icon ion-ios-gear-outline"></i>
          Preferences
        </ion-item>

        <br>
        <br>
        <br>
        <br>

        <p class="menu-note center-text">For questions comments and feedback</p>

        <ion-item class="item-icon-left item-positive" ng-click="contactModal.show(); modalData.subject='general'">
          <i class="icon ion-email"></i>
          Contact Us
        </ion-item>

        <br>

        <p class="menu-note center-text">v{{appVersion}}</p>
        
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
