<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <!-- <button class="button button-icon button-clear ion-lightbulb" menu-toggle="left"> -->
          <img src="img/wg-bulb-logo.png" class="wg-logo" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear" ng-show="showRightIcon" ng-class="showCalendarIcon ? 'ion-ios-calendar-outline' : 'ion-ios-list-outline'"
        ng-click="showCalendarIcon ? showScheduleCalendar() : showScheduleList()">
        </button>
      </ion-nav-buttons>

    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" expose-aside-when="large">

    <ion-content class="padding-top">
      <div><wg-profile-photo/></div>
      <h4 class="wg-user-name">{{currentUser.name}}</h4>
      <ion-list>
        <ion-item class="item-icon-left" menu-close href="#/app/schedule-calendar-page">
          <i class="icon ion-calendar"></i>
          Schedule
        </ion-item>
        <!-- Functionality hidden -->
        <!-- <ion-item class="item-icon-left" menu-close href="#/app/available-shifts-page">
          <i class="icon ion-network"></i>
          Shift trades
        </ion-item> -->
        <ion-item class="item-icon-left" menu-close href="#/app/earnings-page">
          <i class="icon ion-cash"></i>
          Earnings
        </ion-item>
        <ion-item class="item-icon-left" menu-close href="#/app/preferences-page">
          <i class="icon ion-ios-gear-outline"></i>
          Preferences
        </ion-item>

        <p class="menu-note">Need some help?</p>

        <ion-item class="item-icon-left item-positive" ng-click="contactModal.show()">
          <i class="icon ion-email"></i>
          Contact Us
        </ion-item>
        
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
