<ion-view view-title="Preferences">
	<ion-content>
		<ion-list>
			<ion-item href="#">
			   Weekly Hours Target
				<span class="item-note">
					Set at: {{preferences.hours}}
				</span>
			</ion-item>

			<ion-item href="#/app/companyWhitelist">
			   Company Whitelist
				<span class="item-note">
					<span ng-repeat= "(company, value) in companies" ng-show="value">{{company}}{{$last ? '' : ', '}}</span>
				</span>
			</ion-item>

			<ion-item href="#/app/availability">
			   Manage Availability
				<span class="item-note">
					{{totalHours}} Hours
				</span>
			</ion-item>

			<ion-item href="#">
			   Vehicle Type
				<span class="item-note">
					Car
				</span>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
