.availability-tabs {
    display: flex;
    text-align: center;
    padding: 0;
    border-top: 0;
    border-bottom: 1px solid $wg-gray-border;

    span {
        flex-grow: 1;
        transition: all 0.2s;
        background-color: #C8C8C8;
        color: white;
        vertical-align: center;
        padding-top: 12px;
        font-weight: 600;
        
        &.active {
            color: white;
            background-color: $positive;
        }
    }
}
.availability-tabs-page {
    background-color: #f5f6f8;
}