
.wg-block-days {
	.month {
		border-top: 1px solid $wg-gray-border;
		background-color: $wg-light-gray;
		height: 44px;
		line-height: 44px;
		text-align: center;
		color: $wg-gray-text;
		font-weight: 500;
		font-size: medium;
	}
	.week {
		font-weight: 500;
		border-top: 1px solid $wg-gray-border;
		background-color: $wg-cream;
	}
}