.wg-block-days {
	.month {
		border-top: 1px solid $wg-gray-border;
		background-color: $wg-light-gray;
		height: 44px;
		line-height: 44px;
		text-align: center;
		color: $wg-gray-text;
		font-weight: 500;
		font-size: medium;
	}
	.week {
		font-weight: 500;
		border-top: 1px solid $wg-gray-border;
		background-color: $wg-cream;
	}
	.item-divider {
		text-align: center;
		border-top: 1px solid #ddd;
	}
	.total-time-off {
		margin-top: 10px;
		h1, p {
			color: $wg-gray-text;
		}
	}

	.ion-cal {
	    i.left-icon,
	    i.right-icon {
	      color: $positive;
	    }
	    .days .day {
	        border: 2px solid white;
            border-radius: 50%;
            transition: all 0.1s;
            &.blocked.event:before {
        		content: none;
        		height: 0;
        		width: 0;
            }
	        &.blocked:not(.selected):not(.disabled) {
	            border-radius: 4px; // inner radius is -2px of current value
	            background-color: #F86969;
	            color: white;
	        }
	    }
	}
}
.block-popup {
	.popup-body {
		.item {
			border-color: transparent;
			background-color: transparent;
			padding-left: 35px;

			p {
				font-size: 12px;
				text-align: right;
			}
		}
		img {
			width: 30px !important;
			position: absolute;
			left: 6px;
		    top: 50%;
			margin-top: -15px;
			padding: 0;
		}
	}
}