.connect-popup {
    padding-bottom: 200px;
}

.claim-shifts {
    .item {
        font-size: 14px;
        padding: 0; // row and col inside have plenty of padding
        .img-container {
            line-height: 50px;
            padding: 0 4px;
            text-align: center;
        }
        img {
            height: 30px;
            vertical-align: middle;
        }
        .col-separator {
            border-left: 1px solid #ddd;
            padding-left: 15px;
            min-width: 180px;
        }
        .highlighted-note {
            color: $positive;
        }
        .bold-note {
            font-family: Avenir-medium;
            font-size: 12px;
        }
    }
}

.claim-detail {
    text-align: center;
    h1 {
        margin-top: 0;
    }
    img {
        height: 60px;
    }
    .list {
    	padding: 10px 0;
    }
    .flex-info {
		i {
			float: left;
			font-size: 34px;
			padding-right: 5px;
			color: $positive;
		}
    }
    .claim-button {
        height: 70px;
        font-family: Avenir-medium;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 20px;

        &.button-balanced,
        &.button-assertive {
            transition: all 0.7s;
        }
        &.disabled {
            opacity: 1;
        }
        .spinner {
            position: absolute;
            top: 50%;
            margin-top: -20px;
        }
    }
}
