.claim-shifts {
    .item {
        img {
            height: 20px;
            float: left;
            padding-right: 10px;
        }
    }
}

.claim-detail {
    text-align: center;
    h1 {
        margin-top: 0;
    }
    img {
        height: 60px;
    }
}
