// Expand message box to fit screenand keep everything else in view
.contact-us-content {
    .scroll {
        @include flexbox();
        flex-direction: column;
        height: 100%;
        
        > * {
            @include flex-shrink(0);
        }
    }
}
.contact-message {
    @include flex-grow(1);
    margin: 10px;
}
.readonly {
    background-color: #f8f8f8;
}
textarea {
    resize: none;
}