.center-text {
	text-align: center;
}
.wg-line-header {
	@include flexbox();

	h4 {
		padding: 0 10px;
	}

	span.wg-dot {
		height: 3px;
		width: 3px;
		border-radius: 50%;
	    margin: auto;
	    background-color: $positive;
	}
	span.wg-dash {
		@include flex-grow(1);
	    height: 1px;
	    margin: auto;
	    background-color: $positive;
	}
}