.wg-earnings-block {
    padding: 10px;
    h4 {
        color: #898989;
    }
    h1 {
        color: #2ec46e;
        margin-top: 0;
    }
    h3 {
        color: #DEDEDE;
        font-size: small
    }
}
.wg-hours-block {
    padding: 10px;
    h4 {
        color: #898989;
    }
    h1 {
        color: $positive;
        margin-top: 0;
    }
}