
.wg-grid-days {
	text-align: center;
    color: $wg-gray-text;
	font-size: smaller;
	font-weight: 500;
	
	.row + .row {
		margin: 0;
	}

	// @include flexbox();
	.row {
		// @include flex-grow(1);
		padding: 0;
		border-bottom: 1px solid $wg-gray-border;
		
		.col:not(:first-child) {
			border-left: 1px solid $wg-gray-border;
		}
	}
	.row:first-child {
		line-height: 16px;
		border-top: 1px solid $wg-gray-border;
	    background-color: $wg-light-gray;
	}
	.row:not(:first-child) {
		line-height: 40px;
		.col:first-child {
		    background-color: $wg-cream;
		}
		.col:not(:first-child){
			transition: background-color 0.5s;
		}
		.col:not(:first-child).selected {
			background-color: $positive;
		}
	}
}