.wg-profile-photo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: auto;
}

.wg-profile-wrapper {
    padding: 8px;
}
