.schedule-text {
    float: left;
}

.item-company-icon {
    .item-content {
        // For placing right arrow closer to the right border
        padding: 16px 16px 16px 72px;
    }
    .item-note {
        // for placing right arrow in the middle
        margin-top: 9px;
    }
    img {
        border-radius: 0 !important;
    }
    > img:first-child {
        border-radius: 0;
    }
}

// Shift day divider
.item-divider {
    border-top: 0;
    padding: 2px 10px 0px 16px;
    min-height: 23px;
    color: #A7A7A7;
    font-size: 11px;

    // Earnings estimate
    span {
        position: absolute;
        right: 10px;
    }
}

// Bounce Left Animation

/* The animation code */
@keyframes bounce-left {
    40%,
    80% {
        @include transform(translateX(0));
    }
    20% {
        @include transform(translateX(-12px));
    }
    60% {
        @include transform(translateX(-5px));
    }
}

/* The element to apply the animation to */
.bounce-left {
	.item-content {
	    animation-name: bounce-left;
	    animation-duration: 1s;
	}
    // To show the buttons below the list item
	.invisible {
	    visibility: visible;
	}
}

// Cancel Popup
.popup-body {
    text-align: center;
    img {
        width: 40%;
        padding: 16px;
    }
}
