.schedule-text {
    float: left;
}

.item-company-icon.item-avatar {
    .item-content {
        // For placing right arrow closer to the right border
        padding: 40px 16px 40px 90px;

        p strong {

        }
        > img:first-child {
            max-width: 50px;
            max-height: 50px;
            top: 36px;
            left: 20px;
            border-radius: 0;
        }
    }
    .item-note {
        // for placing right arrow in the middle
        margin-top: 9px;
    }
}

// Shift day divider
.item-divider {
    border-top: 0;
    padding: 5px 10px 3px 16px;
    min-height: 23px;
    color: #A7A7A7;
    font-size: 8px;
    font-family: Avenir-Medium;

    // Earnings estimate
    .earnings-estimate {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        line-height: 29px;

        p {
            color: #A7A7A7;
            vertical-align: middle;
            font-size: 8px;
            font-family: Avenir-Medium;
            margin: 0;
            .light-green {
                padding: 0 8px;
                font-family: Avenir-Heavy;
                font-size: 16px;
            }
        }
    }
}

// Bounce Left Animation

/* The animation code */
@keyframes bounce-left {
    40%,
    80% {
        @include transform(translateX(0));
    }
    20% {
        @include transform(translateX(-12px));
    }
    60% {
        @include transform(translateX(-5px));
    }
}

/* The element to apply the animation to */
.bounce-left {
	.item-content {
	    animation-name: bounce-left;
	    animation-duration: 1s;
	}
    // To show the buttons below the list item
	.invisible {
	    visibility: visible;
	}
}

.schedule-placeholder {
    max-width: 100%;
    padding: 20% 20% 20px 20%;
}
.wg-shift {
    .item-note {
        font-size: 12px;
        color: #D0D0D0;
    }
}