.weekly-hours {
    font-size: 56px;
    padding: 30px;
    font-weight: 500;
}

.small-light {
    padding: 20px;
    color: #BCBCBC;
}

.currency-wrapper {
	.currency-estimate {
	    font-size: 40px;
	    font-weight: 400;
	}
    position: relative;
	.earning-label-right {
	    color: #BCBCBC;
	    font-size: initial;
	    position: absolute;
	    right: 10px;
	    top: 10px;
	}
}

.item.range {
    border: none;
}