.personal-info-page,
.claim-days,
.claim-shifts,
.availability-tabs-page,
.claim-detail,
.connect_accounts,
.onboarding,
.vehicles-page,
.wg-preferences,
.device-type-page,
.has-ion-cal-subheader,
.splash {
    background-color: #f5f6f8;
	// personal info
    .item-stacked-label {
		background-color: #fff;
	    &.disabled {
	        background-color: #f8f8f8;
	    }
    }
}
.personal-info-page {
    .item {
    	background-color: white;
    }
}