.wg-company-item {
    line-height: 28px;
    img {
        float: left;
        width: 30px;
    }
    .wg-company-name {
        font-size: 20px;
        padding-left: 20px;
    }
    .application-status-button {
        display: block;
        text-align: center;
        top: 14px;
        width: 108px;
    }
}

// // Accordion
// // http://docs.angularjs.org/api/ng/directive/ngShow#usage_animations
// .wg-company-detail {
//     line-height: 24px;
//     padding-bottom: 0px; // px is needed
//     padding-top: 0px; // px is needed
//     transition: 0.2s all ease;
//     // border-bottom: 0;

//     p {
//         white-space: normal;
//         font-size: 16px;
//         margin-bottom: 0;
//         &.positive {
//             color: $positive;
//         }
//     }

//     &.ng-hide {
//         line-height: 0px; // px is needed
//         opacity: 0;
//         padding-bottom: 0px; // px is needed
//         padding-top: 0px; // px is needed
//     }

//     &.ng-hide-add,
//     &.ng-hide-remove {
//         display: block !important;
//     }
//     .wg-connect-company {
//         text-align: center;
//     }
// }

.item.item-input.item-floating-label.wg-other-location {
    background-color: $light !important;
    border-width: 1px;
    display: block !important;
    transition: 0.2s all ease;

    input,
    .input-label {
        margin: 0;
        padding: 0;
        transition: 0.2s all ease;
    }

    input {
        max-height: 40px;
    }
    .input-label {
        line-height: 19px;
        padding-bottom: 0;
        padding-top: 0;
    }

    &.ng-hide {
        opacity: 0;
        padding-bottom: 0px; // px is needed
        padding-top: 0px; // px is needed

        input {
            max-height: 0px;
        }
        .input-label {
            line-height: 0px;
        }
    }
}
