.apply-finish {
    .check-icon-container {
        text-align: center;
        width: 100%;

        .icon {
            color: $positive;
            display: block;
            font-size: 150px;
            padding: 30px 0 10px;
        }
    }

    h2 {
        color: $positive;
        font-weight: bold;
        text-align: center;
    }
    p {
        padding: 10px 20px;
        text-align: center;
    }
}
