$form-color: #4c4c4c;
$big-form-backcround: #f7f7f7;

.big-form {

    background-color: $big-form-backcround;
    color: $form-color;

    h1 {
        font-family: SourceSansPro-Regular;
        // color: $positive;
        font-size: 30px;
        margin: 0 0 0 16px;
        color: #333;

        &:first-child {
            margin-top: 16px;
        }
    }

    input,
    .input-label {
        color: $positive;
    }

    .success {
        color: $balanced;
        margin: 0 0 0 16px;
        min-height: 20px; // So the height doesn't change when it appears
    }

    .error {
        color: $assertive;
        margin: 0 0 0 16px;
        min-height: 20px; // So the height doesn't change when it appears
    }

    input {
        font-size: 28px;
        line-height: 30px;
        padding-bottom: 0;
        padding-top: 0;

        &::placeholder {
            font-size: 28px;
            line-height: 36px;
        }
    }

    .next-button {
        padding: 20px;
        text-align: center;

        button {
            font-family: SourceSansPro-Semibold;
            text-transform: uppercase;
            font-size: 24px;
            color: $light;
            letter-spacing: 2px;
            line-height: 50px;
            min-width: 140px;
            height: 52px;
            &.button-loading {
                line-height: 0;
            }
        }
    }

    .main-button {
        padding: 20px;
        text-align: center;

        button {
            width: 100%;
            font-weight: bold;
            text-transform: uppercase;
        }
    }

    .item.item-input {
        background: transparent;
        border-width: 0;
    }

    @keyframes shake {
        0% {transform: translateX(0);}
        12.5% {transform: translateX(-6px) rotateY(-5deg);}
        37.5% {transform: translateX(5px) rotateY(4deg);}
        62.5% {transform: translateX(-3px) rotateY(-2deg);}
        87.5% {transform: translateX(2px) rotateY(1deg);}
        100% {transform: translateX(0);}
    }

    .shake {
        animation: shake 500ms ease-in-out;
    }

    // All caps for state like CA
    .state-input {
        text-transform: uppercase;

        &::placeholder {
            text-transform: none;
        }
    }

    .show-more-slots {
        margin: 10px;
        text-align: center;
        text-decoration: underline;
    }
}
