$form-color: #4c4c4c;
$big-form-backcround: #f7f7f7;
$big-form-color: #4c4c4c;

.big-form {

    background-color: $big-form-backcround;
    color: $form-color;

    h1 {
        color: $positive;
        font-size: 30px;
        font-weight: 600;
        margin: 0 0 0 16px;

        &:first-child {
            margin-top: 16px;
        }
    }

    input,
    .input-label {
        color: $big-form-color;
    }

    .success {
        color: $balanced;
        margin: 0 0 0 16px;
        min-height: 20px; // So the height doesn't change when it appears
    }

    .error {
        color: $assertive;
        margin: 0 0 0 16px;
        min-height: 20px; // So the height doesn't change when it appears
    }

    input {
        font-size: 28px;

        &::placeholder {
            font-size: 20px;
        }
    }

    .main-button {
        padding-top: 20px;
        text-align: center;

        button {

            font-weight: 600;
            text-transform: uppercase;
        }
    }

    .item.item-input {
        background: transparent;
        border: 0;
    }

    @keyframes shake {
        0% {
            transform: translateX(0);
        }

        12.5% {
            transform: translateX(-6px) rotateY(-5deg);
        }

        37.5% {
            transform: translateX(5px) rotateY(4deg);
        }

        62.5% {
            transform: translateX(-3px) rotateY(-2deg);
        }

        87.5% {
            transform: translateX(2px) rotateY(1deg);
        }

        100% {
            transform: translateX(0);
        }

    }

    .shake {
        animation: shake 400ms ease-in-out;
    }
}
