// Android screen size is reduced when keyboard comes up.
// iOS screen size remains the same and hides the popup buttons.
.platform-ios {
    .connect-popup {
        padding-bottom: 200px;
    }
}

.connect-popup {
    .popup {
        background-color: $light;
        form {
            margin-bottom: 10px;
        }
    }
}

.claim-shifts {
    .claim-success .row {
        border-right: 5px solid $balanced;
        padding-right: 0;
    }
    .claim-failure .row {
        border-right: 5px solid $assertive;
        padding-right: 0;
    }
    .item {
        font-size: 14px;
        padding: 0; // row and col inside have plenty of padding
        // For success or failure replace padding right with a colored border
        .row {
            padding: 10px 5px; // Looks cramped
        }
        .img-container {
            line-height: 50px;
            padding: 0 4px;
            text-align: center;
        }
        img {
            height: 30px;
            vertical-align: middle;
        }
        .time-slot {
            border-left: 1px solid #d9d9d9; // matches item activated
            min-width: 156px;
            padding: 5px 10px;
            // line-height: 40px;
        }
        .company-name {
            font-family: Avenir-Medium;
            font-size: 15px;
        }
        .company-location {
            color: #666;
            font-family: Avenir-Medium;
            font-size: 12px;
            max-width: 106px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .highlighted-note {
            color: $positive;
        }
    }
}

.claim-detail {
    h1 {
        margin-top: 0;
    }
    img {
        height: 60px;
    }
    .short-spinner {
        height: 28px;
    }
    .claim-warning {
        color: $assertive;
        display: block;
        font-size: 14px;
        padding: 10px 0 0;
    }
    .claim-info {
        padding: 22px 5px;
        text-align: center;
    }
    .claim-info-big {
        padding: 35px 5px;
    }
    .card {
        margin: 0;
    }
    .bordered-list {
        background-color: $light;
        border-bottom: 1px solid $wg-gray-border;
        border-top: 1px solid $wg-gray-border;
        margin-bottom: 10px;
    }
    .mini-claim-button {
        min-width: 94px;
        span,
        .short-spinner {
            margin: auto;
        }
    }
    .claim-button {
        // Make it big
        font-family: Avenir-Medium;
        font-size: 20px;
        font-weight: bold;
        height: 70px;
        padding: 0 16px; // because it's also a card, we need custom padding
        text-transform: uppercase;
        // transition slowly to green/red on success/failure
        &.button-balanced,
        &.button-assertive {
            transition: all 0.7s;
        }
        // Disable interaction but keep the same color
        &.disabled {
            opacity: 1;
        }
        // Center spinner in button
        .spinner {
            left: 50%;
            margin-left: -14px;
            margin-top: -18px;
            position: absolute;
            top: 50%;
        }
    }
}
.flex-times {
    .item {
        border-bottom: 0; // clashes with list bottom border
    }
    .flex-info {
        margin-bottom: 0;
        text-align: center;
        i {
            color: $positive;
            padding-right: 5px;
        }
    }
}
