// Android screen size is reduced when keyboard comes up.
// iOS screen size remains the same and hides the popup buttons.
.platform-ios {
    .connect-popup {
        padding-bottom: 200px;
    }
}

.connect-popup {
    .popup {
        background-color: white;
        form {
            margin-bottom: 10px;
        }
    }
}

.claim-shifts {
    .item {

        font-size: 14px;
        padding: 0; // row and col inside have plenty of padding

        // For success or failure replace padding right with a colored border
        &.claim-success {
            .row {
                border-right: 5px solid $balanced;
                padding-right: 0;
            }
        }
        &.claim-failure {
            .row {
                border-right: 5px solid $assertive;
                padding-right: 0;
            }
        }
        .row {
            padding: 10px 5px; // Looks cramped
        }
        .img-container {
            line-height: 50px;
            padding: 0 4px;
            text-align: center;
        }
        img {
            height: 30px;
            vertical-align: middle;
        }
        .time-slot {
            border-left: 1px solid #D9D9D9; // matches item activated
            padding: 5px 10px;
            min-width: 156px;
            // line-height: 40px;
        }
        .company-name {
            font-family: Avenir-Medium;
            font-size: 15px;
        }
        .company-location {
            color: #666;
            font-family: Avenir-Medium;
            font-size: 12px;
            max-width: 106px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .highlighted-note {
            color: $positive;
        }
    }
}

.claim-detail {
    h1 {
        margin-top: 0;
    }
    img {
        height: 60px;
    }
    .short-spinner {
        height: 28px;
    }
    .claim-warning {
        color: $assertive;
        display: block;
        padding: 10px 0 0 0;
        font-size: 14px;
    }
    .claim-info {
        text-align: center;
        padding: 22px 5px;
    }
    .claim-info-big {
        padding: 35px 5px;
    }

    .card {  
        margin: 0;
    }
    .bordered-list {
        background-color: white;
        border-top: 1px solid $wg-gray-border;
        border-bottom: 1px solid $wg-gray-border;
        margin-bottom: 10px;
    }
    .flex-times {
        .item {
            border-bottom: 0; // clashes with list bottom border
        }
        .flex-info {

            text-align: center;
            margin-bottom: 0;

    		i {
    			padding-right: 5px;
    			color: $positive;
    		}
        }
    }
    .mini-claim-button {
        min-width: 94px;
        span, .short-spinner {
            margin: auto;
        }
    }
    .claim-button {
        padding: 0px 16px; // because it's also a card, we need custom padding

        // Make it big
        height: 70px;
        font-family: Avenir-Medium;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 20px;

        // transition slowly to green/red on success/failure
        &.button-balanced,
        &.button-assertive {
            transition: all 0.7s;
        }

        // Disable interaction but keep the same color
        &.disabled {
            opacity: 1;
        }

        // Center spinner in button
        .spinner {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -18px;
            margin-left: -14px;
        }
    }
}
