// All company and work type styles

@mixin grayscale($opacity: 0.5) {
    opacity: $opacity;
    filter: grayscale(1);
}
@mixin remove-grayscale {
    opacity: 1;
    filter: grayscale(0);
}

.wg-grid {
    .col {
        text-align: center;
        transition: filter 0.7s, opacity 0.7s;
        transition-timing-function: ease-out;
        position: relative;
        font-size: 10px;
        
        .company-icon {
            position: absolute;
            bottom: 10px;
            right: 10px;
            font-size: 20px;
        }
        @include grayscale();
        img {
            width: 60%;
            height: auto;
        }
        .work-type-icon {
            font-size: 50px;
        }
        &.selected {
            @include remove-grayscale();
        }
    }
}

.wg-company-footer,
.wg-work-types-footer {
	height: 108px;
	transform: translate3d(0, 100%, 0);

    transition: transform 0.3s;
    transition-timing-function: ease-out;

	i.icon {
        font-size: -webkit-xxx-large;
    }
    
    i.icon,
    img {
	    position: absolute;
	    top: 29px;
	    left: 25px;
	    max-width: 50px;
	}

	p {
		padding: 10px 10px 10px 90px;
	}
}
.wg-footer-selected {
	transform: none;
}
.wg-item-company {
    height: 88px;
}
.wg-company-name {
    font-size: 20px;
}