.connect-accounts {
    .item-img-left {
        padding-left: 45px;
        img {
            height: 26px;
            left: 11px;
            position: absolute;
            top: 13px;
        }
    }
}
