$gray-earnings-hours-text: #898989;

.wg-earnings-block {
    padding: 10px;
    h4 {
        color: $gray-earnings-hours-text;
    }
    h1 {
        color: $gray-earnings-hours-text;
        margin-top: 0;
    }
    h3 {
        color: #dedede;
        font-size: small;
    }
}
.wg-hours-block {
    padding: 10px;
    h4 {
        color: $gray-earnings-hours-text;
    }
    h1 {
        color: $positive;
        margin-top: 0;
    }
}

.wg-earnings {
    color: $earnings-color;
}

