$wg-yes: $positive;
$wg-maybe: #bdc3c7;

.wg-grid-days {
    background-color: $light;
    color: $wg-gray-text;
    font-size: smaller;
    font-weight: 500;
    text-align: center;
    .row {
        border-bottom: 1px solid $wg-gray-border;
        padding: 0;

        + .row {
            margin: 0;
        }
        .col {
            border-left: 1px solid $wg-gray-border;
        }
        &:first-child {
            background-color: $wg-light-gray;
            border-top: 1px solid $wg-gray-border;
            font-size: 11px;
            line-height: 16px;
        }
        &:not(:first-child) {
            line-height: 40px;
            .first {
                background-color: $wg-cream;
                font-size: 11px;
                line-height: 19px;
            }
            .col {
                padding: 3px;
                span {
                    border-radius: 4px;
                    color: $light;
                    display: block;
                    transition: background-color 0.5s, color 2s;
                }
                &.selected {
                    span {
                        background-color: $wg-yes;
                        color: $wg-yes;
                    }
                }
                &.maybe {
                    span {
                        background-color: $wg-maybe;
                    }
                }
            }
        }
    }
    .first {
        width: 26px;
    }
}
