.popup {
    border: 1px solid #7b7b7b;
    border-radius: 4px;
    // Cancel Popup
    overflow: hidden;
    text-align: center;
    width: 270px;

    .popup-head {
        border: 0;
        padding-bottom: 0;
    }

    img {
        width: 20%;
    }

    .popup-buttons {
        padding: 0;

        .button {
            border: 0;
            border-radius: 0;
            margin: 0;
        }
    }
}

.shift-popup {
    .popup-body {
        .item {
            background-color: transparent;
            border-color: transparent;
            padding-left: 35px;

            p {
                font-size: 12px;
                text-align: right;
            }
        }

        img {
            width: 30px !important;
            position: absolute;
            left: 6px;
            top: 50%;
            margin-top: -15px;
            padding: 0;
        }
    }
}
