
.vehicles-page {
    
    .item-stacked-label {
        background-color: #fff;
    }
}
.wg-preferences {

    .vehicle-item-list {
        max-width: 120px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .item-divider {
        background-color: transparent;
        border: 0;
    }
    
    .item-content {
        padding-right: 20px;
    }
    .item-input-element {
        padding: 0 0 0 16px;
        input {
            height: 52px;

            &[readonly] {
                background-color: #fff;
            }
        }
    }
    .list.card {
        margin-top: 10px;
        margin-bottom: 25px;
    }
    .wg-list-title {
        padding-left: 10px;
        font-weight: 500;
    }
    .wg-floating-note {
        position: absolute;
        top: 16px;
        right: 20px;
    }

    .item-icon-right .icon:first-child {
        font-size: 24px;
    }
    .item-icon-right .icon:last-child {
        font-size: 20px;
        color: #7B7B7B;
    }
}