.vehicles-page {
    .item-stacked-label {
        background-color: $light;
    }
}

.wg-preferences {
    .item-note {
        font-weight: bold;
        line-height: 14px;
        margin-right: 12px;
    }
    .vehicle-item-list {
        max-width: 120px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .item-divider {
        background-color: transparent;
        border: 0;
    }
    .item-content {
        padding-right: 20px;
    }
    .item-input-element {
        padding: 0 0 0 16px;
        input {
            height: 52px;
            &[readonly] {
                background-color: $light;
            }
        }
    }
    .list.card {
        margin-bottom: 25px;
        margin-top: 10px;
    }
    .wg-list-title {
        font-weight: 500;
        padding-left: 10px;
    }
    .wg-floating-note {
        position: absolute;
        right: 20px;
        top: 16px;
    }
    .item-icon-right .icon:first-child {
        font-size: 24px;
    }
    .item-icon-right .icon:last-child {
        color: #7b7b7b;
        font-size: 20px;
    }

    .earnings-col,
    .hours-col {
        font-size: 18px;
        font-weight: bold;
    }
    .earnings-col {
        color: $earnings-color;
    }
    .hours-col {
        color: $positive;
    }

}
.wg-preference-vehicle {
    .item-icon-right .icon:last-child {
        font-size: 46px;
        right: 26px;
    }
}
