.wg-save-bar {
    // bottom: -44px;
    &.wg-save-up {
        bottom: 49px;
        transition: bottom 0.2s ease-out;
    }
    &.wg-save-down {
        transition: bottom 0.2s ease-out;
        // bottom: -44px;
    }
}
