$shift-note: #d0d0d0;
$gray-schedule-item-color: #a7a7a7;

.item-company-icon.item-avatar {
    .item-content {
        // For placing right arrow closer to the right border
        padding: 40px 16px 40px 90px;
        // Company Icon
        > img:first-child {
            border-radius: 0;
            left: 20px;
            max-height: 50px;
            max-width: 50px;
            top: 36px;
        }
        .item-note {
            // vertical align for right arrow
            margin-top: 9px;
        }
        .schedule-text {
            float: left;
            max-width: 100%;
        }
        .shift-location {
            bottom: 20px;
            font-size: 10px;
            left: 0;
            max-width: 100%;
            overflow: hidden;
            padding-left: 90px;
            padding-right: 40px;
            position: absolute;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    // Option buttons
    .item-options {
        .button {
            line-height: 20px;
        }
    }
}

// Shift day divider
.schedule {
    .group-list {
        .list {
            margin-top: -1px;
        }
    }
    .item-divider {
        color: $gray-schedule-item-color;
        font-family: Avenir-Medium;
        font-size: 10px;
        min-height: 23px;
        padding: 5px 10px 3px 16px;
        // Earnings estimate
        .earnings-estimate {
            display: flex;
            line-height: 29px;
            position: absolute;
            right: 0;
            top: 0;
            p {
                color: $gray-schedule-item-color;
                font-family: Avenir-Medium;
                font-size: 8px;
                margin: 0;
                vertical-align: middle;
                .light-green {
                    font-family: Avenir-Heavy;
                    font-size: 16px;
                    padding: 0 8px;
                }
            }
        }
    }
}

// Bounce Left Animation
// The animation code
@keyframes bounce-left {
    40%,
    80% {
        @include transform(translateX(0));
    }
    20% {
        @include transform(translateX(-12px));
    }
    60% {
        @include transform(translateX(-5px));
    }
}

// The element to apply the animation to
.bounce-left {
    .item-content {
        animation-duration: 1s;
        animation-name: bounce-left;
    }
    // To show the buttons below the list item
    .invisible {
        visibility: visible;
    }
}

.schedule-placeholder {
    max-width: 100%;
    padding: 20% 20% 20px;
}

.wg-shift {
    .item-note {
        color: $shift-note;
        font-size: 12px;
    }
}
