.personal-info-page,
.claim-days,
.claim-shifts,
.availability-tabs-page,
.claim-detail,
.connect-accounts,
.onboarding,
.vehicles-page,
.wg-preferences,
.device-type-page,
.has-ion-cal-subheader {
    background-color: #f5f6f8;
	// personal info
    .item-stacked-label {
		background-color: $light;
	    &.disabled {
	        background-color: #f8f8f8;
	    }
    }
}
.personal-info-page {
    .item {
    	background-color: $light;
    }
}

// Tab styling
.tabs-color-active-positive {

    .tab-nav.tabs {

        background-color: $light;

        span.tab-title {
            font-size: 11px;
        }
    }
}

.tabs-color-active-positive.tabs-striped .tab-item.tab-item-active,
.tabs-color-active-positive.tabs-striped .tab-item.active,
.tabs-color-active-positive.tabs-striped .tab-item.activated {
    border-color: $positive;
}

.platform-android {
    .tabs-bottom {
        .tab-nav.tabs {
            border-top: 1px solid #ddd !important;
        }
    }
}