$primary-button-alt: #0079CA;
$primary-button-alt-border: #0079ca;
$primary-button-alt-bg: #34aeff;

.welcome {
    background-color: $positive;
    color: $light;
    display: table;
    height: 100%;
    text-align: center;
    width: 100%;

    h1,
    h4,
    p {
        color: $light;
    }
    img {
        width: 60px;
    }
    h1 {
        font-family: SourceSansPro-Semibold;
        font-size: 48px;
        margin: 0;
        text-transform: uppercase;
    }
    > div {
        display: table-cell;
        vertical-align: middle;
    }
    .button-signup {
        background: $primary-button-alt-bg;
        border: 1px solid $primary-button-alt-border;
        border-radius: 2px;
        color: $primary-button-alt;
        font-family: SourceSansPro-Semibold;
        font-size: 28px;
        font-weight: 600;
        letter-spacing: 2px;
        margin-bottom: 20px;
        margin-top: 40px;
        text-transform: uppercase;
    }
    .signin {
        p {
            margin: 0;
        }
        .button-signin {
            font-weight: 600;
            text-decoration: underline;
        }
    }
}
