.wg-application {

    h4 {
        margin: 20px 16px;
        text-align: center;
    }

    h3 {
        margin-left: 16px;
        margin-right: 16px;
    }
}

.apply-lift,
.apply-background {

    .item-checkbox {
        background: transparent;
        border: 0;
    }
}

.apply-companies {
    .item {
        img {
            width: 30px;
        }
    }
}
