.wg-application {

    h4 {
        margin: 20px 16px;
        text-align: center;
    }

    h3 {
        margin-left: 16px;
        margin-right: 16px;
    }

    .item-checkbox {
        background: transparent;
        border: 0;
    }

}
