$gray-vehicle-button: #dbdbdb;

.wizard-vehicles {

    padding: 10px;
    text-align: center;

    h3 {
        margin: 10px;
        text-align: center;
    }

    .vehicle-group {
        display: flex;
        margin: 20px 0;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .vehicle-button {
        border: 1px solid $gray-vehicle-button;
        box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .05);
        line-height: 34px;
        margin: auto;
        padding-top: 10px;
        width: 110px;

        &.activated { // have different active and resting selected states
            background-color: $positive;
            color: $light;
        }

        .wg-icon::before {
            font-size: 56px;
        }

        p {
            margin-bottom: 0;
        }
    }

}
