.wizard-goal {
    display: flex;
    flex-direction: column;
    padding: 60px 10px;
    text-align: center;

    > * {
        flex: 1;
    }

    .goal-text {
        color: $positive;
        font-size: 60px;
        font-weight: 600;
        margin-bottom: 28px;
    }

    .item.range {
        background-color: transparent;
        border: none;
    }
}
