<ion-view title="My Info" ng-controller="PersonalInfoPageCtrl as info">
    <ion-content class="personal-info-page">
        <ion-list>

            <!-- ADDRESS -->

            <div class="wg-info-address">
                <ion-item class="item-divider"> Address </ion-item>
                <ion-item class="item-input">
                    <input ng-model="info.currentUser.address.street" type="text" placeholder="Street" ng-change="info.debouncedSave()">
                </ion-item>
                <div class="row">
                    <div class="col col-50">
                        <ion-item class="item-input">
                            <input ng-model="info.currentUser.address.city" type="text" placeholder="City" ng-change="info.debouncedSave()">
                        </ion-item>
                    </div>
                    <div class="col col-25">
                        <ion-item class="item-input">
                            <input ng-model="info.currentUser.address.state" type="text" placeholder="State" ng-change="info.debouncedSave()" type="text" maxlength="2" >
                        </ion-item>
                    </div>
                    <div class="col col-25">
                        <ion-item class="item-input">
                            <input ng-model="info.currentUser.address.zip" type="number" placeholder="ZIP" ng-change="info.debouncedSave()" min="1000" max="100000" >
                        </ion-item>
                    </div>
                </div>
            </div>

            <!-- Phone & SSN -->

            <br>

            <ion-item class="item-input">
                <span class="input-label">Phone</span>
                <input name="phone" type="text" formatted-input wg-length="10" format-type="tel" ng-model="info.currentUser.phone" placeholder="(XXX) XXX-XXXX" pattern="[0-9]*" ng-change="info.debouncedSave()">
            </ion-item>

            <ion-item class="item-input">
                <span class="input-label">SSN</span>
                <input name="ssn" type="text" wg-length="9" formatted-input format-type="ssn" ng-model="info.currentUser.ssn" placeholder="XXX-XX-XXXX" pattern="[0-9]*" ng-change="info.debouncedSave()">
            </ion-item>

            
            <!-- Sub Views -->

            <br>

            <ion-item href="#/app/documentPrefs" class="item-icon-left item-icon-right">
                <i class="icon ion-document-text"></i>Documents
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>

            <ion-item href="#/app/vehicles" class="item-icon-left item-icon-right">
                <i class="icon ion-android-car"></i>Vehicles
                <span class="item-note vehicle-item-list">
                    <span ng-repeat="vehicle in currentUser.vehicles | filter:{ selected: true }">{{vehicle.name}}{{$last ? '' : ', '}}</span>
                </span>
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>

            <ion-item href="#/app/locations" class="item-icon-left item-icon-right">
                <i class="icon ion-location"></i>Locations
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>

            <ion-toggle class="item-icon-left item-right" ng-model="info.currentUser.notificationEnabled"><i class="icon ion-android-notifications"></i> Notifcation</ion-toggle>

            <!-- Logout -->

            <br>
            
            <p class="center-text" ng-click="info.logout()">Log Out <i class="icon ion-log-out"></i></p>

            <br>

            <div class="android-bottom-padder"></div>

        </ion-list>
    </ion-content>
</ion-view>
