<ion-view title="Setup Wizard" ng-controller="GoalCtrl as goal">
    <ion-content class="big-form wizard-goal" scroll="false">

        <h3>
            What is your
            <br>
            <strong>daily earnings goal?</strong>
        </h3>

        <div>
            <p class="earnings-goal-text">{{goal.currentUser.earningsGoal | currency : undefined : 0}}</p>

            <p class="hours-goal-text">in {{goal.currentUser.hoursGoal}} {{goal.currentUser.hoursGoal === 1 ? 'hr' : 'hrs'}}</p>

            <div class="item range range-positive">
                0 <input type="range" ng-model="goal.currentUser.earningsGoal" name="hours" min="0" max="280"> 280
            </div>
        </div>

        <div class="next-button">
            <button ng-click="goal.next()" class="button button-positive">
                Continue ➝
            </button>
        </div>

    </ion-content>
</ion-view>
