<ion-view title="Companies" ng-controller="CompaniesRecCtrl as companies">
    <ion-content class="big-form wg-application apply-companies">
        <h4>
            Here are some recommended jobs
            <br>
            based on your profile!
        </h4>

        <ion-list>
            <company-detail ng-repeat="company in companies.recommended" company="company" companies-ctrl="companies"></company-detail>
        </ion-list>

        <div class="main-button">
            <button ng-click="companies.showMore = !companies.showMore; companies.resize()" class="button button-stable">
                {{companies.showMore ? "Hide additional companies" : "Show additional companies"}}
            </button>
        </div>

        <ion-list ng-if="companies.showMore">
            <company-detail ng-repeat="company in companies.nonRecommended" company="company"  companies-ctrl="companies"></company-detail>
        </ion-list>

        <div class="next-button">
            <button ng-click="companies.next()" ng-class="{disabled: !companies.canContinue()}" class="button button-positive">
                Continue ➝
            </button>
        </div>
    </ion-content>
</ion-view>
