<ion-checkbox ng-model="company.interested" class="item-checkbox-right wg-company-item" ng-change="companiesCtrl.toggleDetail(company)">
    <img ng-src="img/companies/{{company.name.toLowerCase()  | spaceless}}.png" alt="">
    <strong class="wg-company-name">{{company.name | capitalize: true}}</strong>
</ion-checkbox>

<ion-item class="wg-company-detail" ng-show="company.showDetail">

    <p>&nbsp;</p>
    <p>{{company.description}}</p>
    <p>&nbsp;</p>

    <p ng-if="company.availableLocations.length">
        <strong>Location:</strong> <span ng-repeat="loc in company.availableLocations">{{loc | capitalize: true}}{{$last ? '' : ', '}}</span>
    </p>
    <p ng-if="company.payRangeLow && company.payRangeHigh">
        <strong>Average Earnings:</strong> <strong>{{company.payRangeLow | currency:undefined:0}}</strong>  - <strong>{{company.payRangeHigh | currency:undefined:0}}</strong>
    </p>
    <p ng-if="company.employmentType">
        <strong>Type:</strong> {{company.employmentType}}
    </p>
    <p ng-if="company.peakDays">
        <strong>Peak Days:</strong> {{company.peakDays}}
    </p>
    <p ng-if="company.peakTimes">
        <strong>Peak Times:</strong> {{company.peakTimes}}
    </p>
    <p ng-if="company.bonusValue">
        <strong>Sign on bonus:</strong> <strong class="light-green">{{company.bonusValue | currency:undefined:0}}</strong> {{company.bonusCondition}}
    </p>

    
    <div ng-if="company.canConnect">

        <p>&nbsp;</p>

        <p>Do you already work with {{company.name | capitalize: true}}?</p>

        <p class="positive" ng-click="companiesCtrl.connect(company)">
            <strong>Connect your account!</strong>
        </p>
    </div>

    <p>&nbsp;</p>

</ion-item>