<ion-view title="Jobs" ng-controller="CompaniesRecCtrl as companies">
    <ion-content class="big-form wg-application apply-companies">

        <h4 ng-if="companies.myCompanies.length">
            Your companies
        </h4>

        <ion-list>
            <company-detail ng-repeat="company in companies.myCompanies" company="company" companies-ctrl="companies"></company-detail>
        </ion-list>

        <h4 ng-if="companies.recommended.length" ng-switch="companies.recommended.length">
            <span ng-switch-when="0"></span>
            <span ng-switch-when="1">
                Here is a recommended job
                <br>
                based on your profile!
            </span>
            <span ng-switch-default>
                Here are some recommended jobs
                <br>
                based on your profile!
            </span>
        </h4>

        <ion-list>
            <company-detail ng-repeat="company in companies.recommended" company="company" companies-ctrl="companies"></company-detail>
        </ion-list>

        <h4 ng-switch="companies.nonRecommended.length">
            <span ng-switch-when="0"></span>
            <span ng-switch-when="1">
                Here is another job
            </span>
            <span ng-switch-default>
                <span ng-if="companies.recommended.length === 0">
                    Based on your preferences, we couldn't find a perfect jobs match but here are some others to check out

                </span>
                <span ng-if="companies.recommended.length !== 0">
                    Here are some other jobs
                </span>
            </span>
        </h4>

        <ion-list>
            <company-detail ng-repeat="company in companies.nonRecommended" company="company"  companies-ctrl="companies"></company-detail>
        </ion-list>

        <div class="next-button">
            <button ng-click="companies.start()" ng-class="{disabled: !companies.canContinue()}" class="button button-positive">
                Apply ➝
            </button>
        </div>
    </ion-content>
</ion-view>
