<ion-view hide-nav-bar="true" title="Signup" ng-controller="SignupCtrl as signup">
    <ion-content class="big-form" scroll="false">
        <button ng-click="signup.goBack()" class="button back-button buttons button-clear header-item">
            <i class="icon ion-ios-arrow-back"></i> Back
        </button>
        <form name="form" shake-that novalidate submitted="submitted" submit="signup.next()">
            <h1>Hello {{signup.name}}</h1>
            <h1>What's your email?</h1>
            <label class="item item-input item-floating-label">
                <span class="input-label">Email</span>
                <input type="email" ng-model="signup.currentUser.email" placeholder="Email" required>
            </label>
            <br>
            <div class="main-button">
                <button type="submit" class="button button-positive">
                    Next
                    <i class="icon ion-android-arrow-forward"></i>
                </button>
            </div>
        </form>
    </ion-content>
</ion-view>
