<ion-view hide-nav-bar="true" title="Signup" ng-controller="SignupCtrl as signup">
    <ion-content class="big-form" scroll="false">
        <button ng-click="signup.goBack()" class="button back-button buttons button-clear header-item">
            <i class="icon ion-ios-arrow-back"></i> Back
        </button>
        <form name="form" shake-that novalidate submitted="submitted" submit="signup.doSignup()">
            <div ng-class="{'has-error': form.email.$invalid && submitted}">
                <h1>&nbsp;</h1>
                <h1>Create a password</h1>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Password</span>
                    <input type="password" ng-model="signup.currentUser.password" placeholder="Password" required>
                </label>
                <p class="error">{{signup.error}}</p>
                <div class="main-button">
                    <button type="submit" class="button button-positive">
                        Next
                        <i class="icon ion-android-arrow-forward"></i>
                    </button>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>
