<ion-view title="Onboarding" ng-controller="BackgroundCheckSSNCtrl as background">
    <ion-content class="big-form wg-application apply-background" scroll="false">
        <h4>
            What's your SSN?
        </h4>
        <form name="form" shake-that novalidate submitted="submitted" submit="background.next()">
            <label class="item item-input">
                <input name="ssn" type="text" wg-length="9" formatted-input format-type="ssn" ng-model="background.currentUser.ssn" placeholder="XXX-XX-XXXX">
            </label>

            <ion-checkbox ng-model="canLift">I consent to a background check.</ion-checkbox>

            <div class="next-button">
                <button type="submit" ng-class="{disabled: !canLift}" class="button button-positive">
                    Continue ➝
                </button>
            </div>
        </form>
    </ion-content>
</ion-view>
