<ion-view view-title="Login">
    <ion-content has-header="true" has-tabs="true">
        <div class="list">
            <label class="item item-input">
                <!-- <span class="input-label"> Email</span> -->
                <i class="icon ion-email placeholder-icon"></i>
                <input placeholder="Email" type="email" ng-model="user.email">
            </label>
            <label class="item item-input">
                <!-- <span class="input-label"> Password</span> -->
                <i class="icon ion-lock-combination placeholder-icon"></i>
                <input placeholder="Password" type="password" ng-model="user.password">
            </label>
        </div>
        <div class="assertive padding-left" ng-show="error.message">{{error.message}}</div>
        <div class="padding">
            <button class="button button-block button-positive" ng-click="login()">
                LOG IN
            </button>
        </div>
        <button class="button button-block button-clear button-calm" ng-click="forgot()">
            Forgot your password?
        </button>

        <button class="button button-block button-clear button-calm" ng-click="loginDemoUser()">
            Skip
        </button>
    </ion-content>
</ion-view>
