<ion-view class="register" title="Register">
    <!-- Set scroll to false because navigatig to the next input item causes the whole view with the nav-bars to jump -->
    <ion-content scroll= 'false'  has-header="true" class="has-subheader" has-tabs="true">
        <div class="list">
            <label class="item item-input">
                <i class="icon ion-person placeholder-icon"></i>
                <input type="text" ng-model="user.name" placeholder="Name">
            </label>
            <label class="item item-input">
                <i class="icon ion-email placeholder-icon"></i>
                <input type="email" ng-model="user.email" placeholder="Email">
            </label>
            <label class="item item-input">
                <i class="icon ion-lock-combination placeholder-icon"></i>
                <input type="password" ng-model="user.password" placeholder="Password">
            </label>
            <label class="item item-input">
                <i class="icon ion-lock-combination placeholder-icon"></i>
                <input type="password" ng-model="user.password1" placeholder="Confirm Password">
            </label>
            <div class="padding">
                <button ng-click="next()" class="button button-block button-positive">
                    Continue >>
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
