<ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-header-bar class="bar-subheader" ng-show="currentPage > -1">
        <wg-pager/>
      </ion-header-bar>
</ion-nav-bar>
<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Login" href="#/tab/login">
    <ion-nav-view name="tab-login"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Register" href="#/tab/register-account-info">
    <ion-nav-view name="tab-register"></ion-nav-view>
  </ion-tab>

</ion-tabs>
