<ion-view title="Application" ng-controller="AddressCtrl as address">
    <ion-content class="big-form wg-application apply-address">
        <h4>
            What is your
            <br>
            <strong>home address?</strong>
        </h4>
        <form name="form" shake-that novalidate submitted="submitted" submit="address.next()">

            <label class="item item-input item-floating-label">
                <span class="input-label">Street Name</span>
                <input type="text" ng-model="address.street" placeholder="Street Name" required>
            </label>

            <label class="item item-input item-floating-label">
                <span class="input-label">City</span>
                <input type="text" ng-model="address.city" placeholder="City" required>
            </label>

            <label class="item item-input item-floating-label">
                <span class="input-label">State</span>
                <input class="state-input" type="text" maxlength="2" ng-model="address.state" placeholder="State" required>
            </label>

            <label class="item item-input item-floating-label">
                <span class="input-label">ZIP</span>
                <input type="number" min="1000" max="100000" ng-model="address.zip" placeholder="ZIP" required>
            </label>

            <div class="next-button">
                <button type="submit" class="button button-positive">
                    Continue ➝
                </button>
            </div>
        </form>
    </ion-content>
</ion-view>
