<ion-view hide-nav-bar="true" ng-controller="WelcomeCtrl as welcome">
    <ion-content class="welcome" scroll="false">
        <div>
            <img src="img/LogoLightbulbOnly.png" width="40px">
            <h1>WorkGenius</h1>
            <h4>The easiest way to find part-time work</h4>

            <button class="button button-light" ng-click="welcome.signup()">
                Sign Up
            </button>

            <br>
            <br>

            <p>Do you already have an account?</p>
            <button class="button button-light button-clear" ng-click="welcome.login()">
                Login Here
            </button>
            <br>
            <br>
            <button ng-if="!appVersion" class="button button-light button-clear" ng-click="welcome.skip()">
                Skip
            </button>

        </div>
    </ion-content>
</ion-view>
