<ion-view view-title="My Profile" ng-controller="ProfileCtrl as profile">
    <ion-content class="wg-preferences">

        <br>
        
        <div class="wg-profile-wrapper">
            <div class="wg-profile-picture" ng-style="{'background-image':'url(' + profile.imageData + ')'}" ng-click="headshot.showPictureOptions()"></div>
            <div class="wg-profile-edit">
                <i class="icon ion-edit light"></i>
            </div>
        </div>

        <br>
    
        <div class="row center-text">
            <div class="col">
                <h4>Earnings</h4>
                <p>50</p>
                <p>50</p>
            </div>
            <div class="col">
                <h4>Hours</h4>
                <p>50</p>
                <p>50</p>
            </div>
        </div>
        
        <br>

            <ion-item href="sms:1-650-825-1524" class="item-icon-right">
                Contact Us
                <i class="icon ion-ios-chatbubble"></i>
            </ion-item>

        <br>

        <ion-list>

            <!-- <ion-toggle ng-model="airplaneMode" class="item-icon-left" toggle-class="toggle-positive">
                <i class="icon ion-android-notifications"></i>
                Notifications
            </ion-toggle> -->
            
            <ion-item href="#/app/goal" class="item-icon-left item-icon-right">
                <i class="icon ion-cash"></i>Daily Earnings Goal
                <span class="item-note badge badge-balanced">{{(profile.currentUser.earningsGoal || 0) | currency : undefined : 0}}</span>
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>

            <ion-item href="#/app/info" class="item-icon-left item-icon-right">
                <i class="icon ion-person"></i>My Info
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>

        </ion-list>

        <br>

        <p class="menu-note center-text">v{{appVersion || "0.0.1"}}</p>

        <br>

    </ion-content>

</ion-view>
