<ion-view class="register" title="Availability">
    <ion-content class="has-header has-subheader">

        <grid-days></grid-days>
        
        <!-- Finish Onboarding -->
        <div>
            <button class="button button-full button-positive" ng-click="finish()">
                Finish >>
            </button>
            <p class="padding">
                By creating an account you agree to the Terms of Use and Privacy Policy.
            </p>
        </div>
    </ion-content>
</ion-view>
