<ion-view class="register" title="Set your availability">

	<div class="wg-grid-days has-header has-subheader" ng-show="showHeader">
	    <div class="row wg-grid-header">
	        <div class="first"></div>
	        <div class="col" ng-click="select(day, null)" ng-repeat="day in days">{{day | limitTo: 1}}</div>
	    </div>
	</div>

    <ion-content class="has-header has-subheader has-wg-save-bar" delegate-handle="availabilityScroll" on-scroll="onScroll()">

        <div class="wg-title">
            <p>Tap to add or remove hours</p>
            <p>You can change this later in your preferences</p>
        </div>

        <grid-days></grid-days>
        
    </ion-content>

    <!-- Finish Onboarding -->
    <div class="bar bar-footer bar-positive" ng-click="finish(); save('availability')">
      <h1 class="title">FINISH >></h1>
    </div>
    
</ion-view>
