<ion-view class="availability-questions" title="Schedule Preferences">
    <ion-content class="has-header has-subheader">

        <div>
            <p class="label1">
                What days do you want to work?
            </p>
            <div class="row" ng-repeat="i in [0, 1, 2]">
                <span class="roundLabel col-33" ng-repeat="day in availQuestions.days | limitTo : 3 : i*3">
                    <button class="button button-block button-light" ng-class="{selected : day.selected}" ng-click="day.selected = !day.selected">
                        {{day.name | capitalize}}
                    </button>
                </span>
            </div>
        </div>

        <div>
            <div class="label2">
                <p class="center-text">
                    What times do you want to work?
                </p>
                <p class="center-text">
                    (You can customize your hourly schedule on the next page)
                </p>
            </div>
            <div class="row" ng-repeat="i in [0, 1, 2]">
                <span class="roundLabel col-33" ng-repeat="timeSlot in availQuestions.timeSlots | limitTo : 3 : i*3">
                    <button class="button button-block button-light" ng-class="{selected : timeSlot.selected}" ng-click="timeSlot.selected = !timeSlot.selected">
                        {{timeSlot.name | capitalize}} <br>
                        {{timeSlot.start}} - {{timeSlot.end}}
                    </button>
                </span>
            </div>
        </div>
    </ion-content>

    <ion-footer-bar align-title="left" class="bar-positive" ng-click="next(); setAvailWithQuestions()" ng-show="didSelectOption()">
      <h1 class="title">Continue >></h1>
    </ion-footer-bar>
</ion-view>
