<ion-view class="onboarding" title="Device Type">
    <ion-content class="has-header has-subheader has-blocking-footer">
        <form name="deviceForm" ng-submit="submit()" novalidate>
    		<p class="wg-title-instruction padding">
                What kind of device do you have?
            </p>
    		
            <device-type prefilled-device="prefilledDevice" device="device" on-change="onChange"></device-type>

            <hidden-submit></hidden-submit>

        </form>
    </ion-content>

    <div class="bar bar-footer bar-positive" ng-click="submit()" ng-show="showNext">
      <h1 class="title">CONTINUE >></h1>
    </div>
</ion-view>



