<ion-nav-bar class="bar-light positive">
    <ion-nav-back-button class="button-clear">
        <i class="icon ion-ios-arrow-back"></i> Back
    </ion-nav-back-button>
    <ion-nav-buttons  ng-if="!appVersion" side="right">
        <button class="button button-icon button-clear" ng-click="skipOnboarding()">
            Skip
        </button>
    </ion-nav-buttons>
    <ion-header-bar class="bar-subheader">
        <wg-pager/>
    </ion-header-bar>
</ion-nav-bar>
<!-- where the initial view template will be rendered -->
<ion-nav-view name="content">
</ion-nav-view>
