<ion-view class="onboarding" title="Personal Info">
	<!-- Form needs to be outside for continue button to access info -->
    <ion-content class="has-header has-subheader has-blocking-footer">
		<form name="form" ng-submit="submit()" novalidate>
			<p class="wg-title-instruction padding">
	            We need some more information to get you working
	        </p>

			<personal-info current-user="currentUser" on-change="onChange"></personal-info>

		    <hidden-submit></hidden-submit>
		</form>
    </ion-content>

	<div class="bar bar-footer bar-positive" ng-click="submit()" ng-show="showNext">
	  <h1 class="title">CONTINUE >></h1>
	</div>
</ion-view>



