<ion-view class="onboarding" title="Vehicle Type">
    <ion-content class="has-header has-subheader has-blocking-footer">
        <form name="vehicleForm" ng-submit="submit()" novalidate>
    		<p class="wg-title-instruction padding">
                What kind of vehicle do you have?
            </p>

            <vehicle-types vehicles="currentUser.vehicles" on-change="onChange"></vehicle-types>

            <hidden-submit></hidden-submit>
        </form>
    
    </ion-content>

    <div class="bar bar-footer bar-positive" ng-click="continue()" ng-show="showNext">
      <h1 class="title">CONTINUE >></h1>
    </div>
</ion-view>



