<ion-view hide-nav-bar="true" ng-controller="TutorialCtrl as tutorial" class="wg-tutorial" left-buttons="leftButtons" right-buttons="rightButtons">
    <ion-slide-box on-slide-changed="slideChanged(index)">
        <ion-slide><tutorial-card image="tutorial1" title="1. Create your WorkGenius ID">       </tutorial-card></ion-slide>
        <ion-slide><tutorial-card image="tutorial2" title="2. Browse Flexible Jobs Near You">   </tutorial-card></ion-slide>
        <ion-slide><tutorial-card image="tutorial3" title="3. Apply Instantly with your WG ID"> </tutorial-card></ion-slide>
        <ion-slide><tutorial-card image="tutorial4" title="4. All of your work in one place.">  </tutorial-card></ion-slide>
    </ion-slide-box>
    <div class="auth-container">
        <button class="button button-positive button-signup" ng-click="tutorial.signup()">
            Sign up
        </button>
        <div class="signin-container" ng-click="tutorial.login()">
            <p>Do you already have an account?</p>
            <p class="button-signin">Login here!</p>
        </div>
    </div>
</ion-view>
