<ion-view view-title="Availability">
	<ion-content class="has-tabs">
		<div ui-view name="inception"></div>
	</ion-content>
	<div class="tabs tabs-positive tabs-icon-left">
        <a class="tab-item" ui-sref="app.availability-tabs.availability" ng-class="availActive ? '' : 'active'" ng-click="availActive = false">
            <i class="icon ion-checkmark-circled"></i>
			{{path}} Availability
        </a>
        <a class="tab-item" ui-sref="app.availability-tabs.block-days" ng-class="availActive ? 'active' : ''" ng-click="availActive = true">
            <i class="icon ion-close-circled"></i>
			Block out days
        </a>
    </div>
</ion-view>
