<ion-view view-title="Manage Availability">
	<div class="wg-grid-days has-header has-subheader" ng-show="showHeader">
	    <div class="row wg-grid-header">
	        <div class="first"></div>
	        <div class="col" ng-click="select(day, null)" ng-repeat="day in days">{{day | limitTo: 1}}</div>
	    </div>
	</div>

	<ion-content view-title="Manage Availability" delegate-handle="availabilityScroll" class="has-subheader has-wg-save-bar" on-scroll="onScroll()">
		<p class="wg-title-instruction padding-top">
            Tap to add or remove hours
        </p>

	    <grid-days></grid-days>
	</ion-content>

	<wg-save-bar wg-on-change="onChange" wg-prop='"availability"'></wg-save-bar>
</ion-view>