<ion-view view-title="Manage Availability">
	<div class="wg-grid-days has-header" ng-show="showHeader">
	    <div class="row wg-grid-header">
	        <div class="first"></div>
	        <div class="col" ng-click="select(day, null)" ng-repeat="day in days">{{day | limitTo: 1}}</div>
	    </div>
	</div>

	<ion-content view-title="Manage Availability" delegate-handle="availabilityScroll" class="has-wg-save-bar availability-tabs-page" on-scroll="onScroll()">
		<div ng-if="canEditAvailability">
			<p class="wg-title-instruction padding-top">
	            Tap to add or remove hours.
	        </p>
	        <p class="wg-title-instruction" ng-hide="availabilityLock.disableLock">
	        	Set your availability before <strong>{{startEditDay}} this week</strong> for shifts starting <strong>{{endEditDay}} next week</strong>
	    	</p>
		</div>
		<div ng-if="!canEditAvailability">
			<p class="wg-title-instruction padding-top">
	            You can change your availability again in {{nextStartDate}}
	        </p>
		</div>

	    <grid-days></grid-days>
	</ion-content>

	<wg-save-bar wg-on-change="onChange" wg-prop='"availability"'></wg-save-bar>
</ion-view>