<ion-view view-title="Manage Availability">
	<ion-content class="has-wg-save-bar availability-tabs-page">
		<div class="wg-block-days">
			<p class="wg-title-instruction padding-top">
			    	Tap on the dates you can't work
			</p>
			<ion-cal options="options" events="currentUser.shifts"></ion-cal>

			<div class="item item-divider">Total Time Off</div>
			<div class="center-text total-time-off">
				<h1>{{blockedCount}}</h1>
				<p>{{blockedCount == 1 ? 'day': 'days'}} in the next 30 days</p>
			</div>
		</div>
	</ion-content>

	<wg-save-bar wg-on-change="onChange" wg-prop='"blockedDays"'></wg-save-bar>
</ion-view>