<ion-view hide-nav-bar="true" title="Password Reset" ng-controller="LoginCtrl as login">
    <ion-content class="big-form" scroll="false">
        <br>
        <button ng-click="login.goBack()" class="button back-button buttons button-clear header-item">
            <i class="icon ion-ios-arrow-back"></i> Back
        </button>
        <form name="form" shake-that novalidate submitted="submitted" submit="login.resetPassword()">
            <div ng-class="{'has-error': form.email.$invalid && submitted}">
                <h1>&nbsp;</h1>
                <h1>Reset your password</h1>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Email</span>
                    <input type="email" ng-model="login.currentUser.email" placeholder="Email" required>
                </label>
                <br ng-if="!login.success && !login.error">
                <p ng-if="login.success" class="success">{{login.success}}</p>
                <p ng-if="login.error" class="error">{{login.error}}</p>
                <div class="next-button">
                    <button type="submit" class="button button-positive">
                        Reset
                    </button>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>
