<ion-view hide-nav-bar="true" title="Login" ng-controller="LoginCtrl as login">
    <ion-content class="big-form" scroll="false">
        <br>
        <button ng-click="login.goBack()" class="button back-button buttons button-clear header-item">
            <i class="icon ion-ios-arrow-back wg-floating-back-icon"></i> Back
        </button>
        <form name="form" shake-that novalidate submitted="submitted" submit="login.doLogin()">
            <h1>&nbsp;</h1>
            <h1>What's your password?</h1>
            <label class="item item-input item-floating-label">
                <span class="input-label">Password</span>
                <input type="password" ng-model="login.currentUser.password" placeholder="Password" required>
            </label>
            <p class="error">{{login.error}}</p>
            <div class="next-button">
                <button type="submit" class="button button-positive" ng-hide="login.loading">
                    Finish ➝
                </button>
                <button class="button button-positive button-loading" ng-show="login.loading" ng-class="{disabled: signup.loading}">
                    <ion-spinner icon="dots" class="spinner-light"></ion-spinner>
                </button>
            </div>
        </form>
        <button class="button button-positive button-block button-clear" ng-click="login.forgotPassword()">
            Forgot password?
        </button>
    </ion-content>
</ion-view>
