<ion-view title="Application" ng-controller="HeadshotCtrl as headshot">
    <ion-content class="big-form wg-application wizard-headshot" scroll="false">
        
        <div class="header-container">
            <h4>
                Add your <strong>headshot</strong>
            </h4>
        </div>

        <div class="wg-profile-wrapper">
            <div class="wg-profile-picture" ng-style="{'background-image':'url(' + headshot.imageData + ')'}" ng-click="headshot.showPictureOptions()"></div>
            <div class="wg-profile-edit">
                <i class="icon ion-edit light"></i>
            </div>
        </div>

        <div class="next-button">
            <button
            ng-class="{disabled: !headshot.canContinue && !headshot.error}",
            class="button button-positive"
            ng-click="headshot.next()"
            >
                Continue ➝
            </button>
        </div>

        <p ng-if="headshot.error">Can't add a photo? You can send your headshot directly to liveops@workgeni.us Be sure to include your name and email</p>

    </ion-content>
</ion-view>
