<ion-view title="Vehicles" ng-controller="VehiclesPreferenceCtrl as vehicleCtrl">
    <ion-content class="big-form wizard-locations">

        <h3>
            Select your vehicle type
            <br>
        </h3>

        <ion-list>
            <div ng-repeat="vehicle in vehicleCtrl.vehicles">
                <ion-checkbox class="item-checkbox-right" ng-model="vehicle.selected" ng-change = "location.onChange(vehicle)">
                    <strong>{{vehicle.type | capitalize: true}}</strong>
                </ion-checkbox>

                <label ng-if="vehicle.name === 'other'" class="item item-input item-floating-label wg-other-location" ng-show="vehicle.selected">
                    <p class="input-label">Location</p>
                    <input type="text" ng-model="city.otherName" placeholder="City, State" required>
                </label>
            </div>
        </ion-list>

        <!--ng-class="{disabled: !location.selectedCities.length}"-->

    </ion-content>
</ion-view>
