<ion-view title="Application" ng-controller="DocumentsCtrl as docs">
    <ion-content class="big-form wg-application apply-car">

        <h4>
            Please upload your documents
        </h4>

        <div class="padding">
            <button class="button button-outline button-positive button-block" ng-repeat="doc in docs.list" ng-click="docs.showPictureOptions(doc)">
              {{docs.longName(doc)}}
            </button>
        </div>

        <div class="next-button">
            <button
            ng-click="docs.next()"
            class="button button-positive"
            >
                Continue ➝
            </button>
        </div>

    </ion-content>
</ion-view>
