<ion-view title="Application" ng-controller="DocumentsCtrl as docs">
    <ion-content class="big-form wg-application wg-documents">

        <h4>
            Please upload your documents
        </h4>

        <div class="padding">
            <button class="button button-outline button-block button-icon-right" ng-class="docs.getClass(doc)" ng-repeat="doc in docs.list" ng-click="docs.showPictureOptions(doc)">
              {{doc.longName}}
              <i ng-if="!doc.uploading && !doc.uploaded && !doc.error" class="icon ion-upload"></i>
              <i ng-if="doc.uploaded" class="icon ion-checkmark-circled"></i>
              <i ng-if="doc.error" class="icon ion-close-circled"></i>
              <ion-spinner ng-if="doc.uploading" class="icon spinner-positive"></ion-spinner>
            </button>
        </div>
        <!-- <div class="card" ng-repeat="doc in docs.list" ng-click="docs.showPictureOptions(doc)">
            <div class="item item-divider item-icon-right">
                {{docs.longName(doc)}}
                <i class="icon ion-upload"></i>
            </div>
            <div class="item item-image">
                <img src="img/placeholder.png">
            </div>
        </div> -->

        <div class="next-button">
            <button
            ng-class="{disabled: !docs.canContinue && !docs.error}",
            ng-click="docs.next()"
            class="button button-positive"
            >
                Continue ➝
            </button>
        </div>

        <p ng-if="docs.error" class="padding">If the document upload is not working, we can collect them via email later</p>
    </ion-content>
</ion-view>
