<ion-view title="Setup Wizard" ng-controller="LocationsCtrl as location">
    <ion-content class="big-form wizard-locations">

        <h3>
            Select the area(s) that you
            <br>
            <strong>want to work</strong>
        </h3>

        <ion-list>

            <ion-checkbox ng-click="" ng-repeat="city in location.options" class="item-checkbox-right">
                <strong>{{city | capitalize}}</strong>
            </ion-checkbox>

        </ion-list>

        <!--ng-class="{disabled: !location.selectedCities.length}"-->

        <div class="next-button">
            <button
            ng-click="location.next()"
            class="button button-positive"
            >
                Continue ➝
            </button>
        </div>

    </ion-content>
</ion-view>
