<ion-view title="Setup Wizard" ng-controller="LocationsCtrl as location">
    <ion-content class="big-form wizard-locations">

        <h3>
            Select the area(s) that you
            <br>
            <strong>want to work</strong>
        </h3>

        <ion-list>

            <ion-checkbox ng-click="" ng-repeat="city in location.options" class="item-checkbox-right item-accordion">
                <strong>{{city | capitalize}}</strong>
            </ion-checkbox>

        </ion-list>

        <!-- Accordion Effect -->
        <!-- <ion-list>

            <div ng-repeat="group in location.PostmatesLocations">
                <ion-item
                ng-click="location.toggleState(group)"
                ng-class="{active: location.isStateShown(group)}">
                    <i class="icon" ng-class="location.isStateShown(group) ? 'ion-minus' : 'ion-plus'"></i> &nbsp;
                    {{group.state}}
                </ion-item>
                <ion-checkbox ng-click="location.toggleCity(city)" ng-repeat="city in group.cities" class="item-checkbox-right item-accordion" ng-show="location.isStateShown(group)">
                    {{city | capitalize}}
                </ion-checkbox>
            </div>
        </ion-list> -->

        <!--ng-class="{disabled: !location.selectedCities.length}"-->

        <div class="next-button">
            <button
            ng-click="location.next()"
            class="button button-positive"
            >
                Continue ➝
            </button>
        </div>

    </ion-content>
</ion-view>
