<ion-view>
    <!-- <ion-nav-title>
        <div class="bar bar-header bar-light wg-register-bar">
            <div class="title">
                <span ng-class="{selected: signupActive}" ng-click="toggleWithoutAnimation('registration.signup')">
              Sign up
              <div class="arrow"></div>
            </span>
                <span ng-class="{selected: !signupActive}" ng-click="toggleWithoutAnimation('registration.login')">
              Log in
              <div class="arrow"></div>
            </span>
            </div>
        </div>
    </ion-nav-title> -->
    <ion-content class="has-header">
        <div class="list list-inset">
            <label class="item item-input">
                <!-- <span class="input-label"> Email</span> -->
                <i class="icon ion-email placeholder-icon"></i>
                <input placeholder="Email" type="email" ng-model="user.email">
            </label>
            <label class="item item-input">
                <!-- <span class="input-label"> Password</span> -->
                <i class="icon ion-lock-combination placeholder-icon"></i>
                <input placeholder="Password" type="password" ng-model="user.password">
            </label>
        </div>
        <div class="assertive padding-left" ng-show="error.message">{{error.message}}</div>
            <button class="button button-full button-positive" ng-click="login()">
                LOG IN
            </button>
        <button class="button button-block button-clear button-calm" ng-click="forgot()">
            Forgot your password?
        </button>

        <button class="button button-block button-clear button-calm" ng-click="loginDemoUser()">
            Skip
        </button>
    </ion-content>
</ion-view>
