<div class="bar bar-header bar-light wg-register-bar">
  <div class="title">
    <span ng-class="signupActive ? '' : 'selected'" ui-sref="registration.login" ng-click="signupActive = false">
      Log in
      <div class="arrow"></div>
    </span>
    <span ng-class="signupActive ? 'selected' : ''" ui-sref="registration.signup" ng-click="signupActive = true">
      Sign up
      <div class="arrow"></div>
    </span>
  </div>
</div>
<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<div ui-view name="content" class="wg-register-content"></div>