<ion-view>
    <ion-content has-bouncing class="has-header">
        <form name="deviceForm" ng-submit="register()" novalidate>
            <div class="list list-inset borderless-input">
                <label class="item item-input">
                    <i class="icon ion-person placeholder-icon"></i>
                    <input autofocus type="text" ng-model="user.name" placeholder="Full Name">
                </label>
                <label class="item item-input">
                    <i class="icon ion-email placeholder-icon"></i>
                    <input type="email" ng-model="user.email" placeholder="Email">
                </label>
                <label class="item item-input">
                    <i class="icon ion-lock-combination placeholder-icon"></i>
                    <input type="password" ng-model="user.password" placeholder="Password">
                </label>
                <label class="item item-input">
                    <i class="icon ion-lock-combination placeholder-icon"></i>
                    <input type="password" ng-model="user.password1" placeholder="Confirm Password">
                </label>
            </div>
            <!-- Hidden input button necessary to make keyboard next button work -->
            <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
        </form>

        <div class="assertive padding" ng-show="error.message">{{error.message}}</div>
        <button ng-click="register()" class="button button-full button-positive">
            SIGN UP >>
        </button>
        <p class="padding center-text">
            By creating an account you agree to the Terms of Use and Privacy Policy.
        </p>
        <button ng-if="!appVersion" class="button button-block button-clear button-calm" ng-click="loginDemoUser()">
            Skip
        </button>

    </ion-content>
</ion-view>
