<ion-view>
    <ion-content has-bouncing class="has-header">
        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-person placeholder-icon"></i>
                <input type="text" ng-model="user.name" placeholder="Full Name">
            </label>
            <label class="item item-input">
                <i class="icon ion-email placeholder-icon"></i>
                <input type="email" ng-model="user.email" placeholder="Email">
            </label>
            <label class="item item-input">
                <i class="icon ion-lock-combination placeholder-icon"></i>
                <input type="password" ng-model="user.password" placeholder="Password">
            </label>
            <label class="item item-input">
                <i class="icon ion-lock-combination placeholder-icon"></i>
                <input type="password" ng-model="user.password1" placeholder="Confirm Password">
            </label>
        </div>

        <div class="assertive padding" ng-show="error.message">{{error.message}}</div>
        <button ng-click="register()" class="button button-full button-positive">
            SIGN UP
        </button>
        <p class="padding">
            By creating an account you agree to the Terms of Use and Privacy Policy.
        </p>
        <button class="button button-block button-clear button-calm" ng-click="loginDemoUser()">
            Skip
        </button>

    </ion-content>
</ion-view>
