<ion-view class="register">
    <!-- Set scroll to false because navigatig to the next input item causes the whole view with the nav-bars to jump -->
    <!-- <ion-nav-title>
        <div class="bar bar-header bar-light wg-register-bar">
            <div class="title">
                <span ng-class="{selected: signupActive}" ng-click="toggleWithoutAnimation('registration.signup')">
              Sign up
              <div class="arrow"></div>
            </span>
                <span ng-class="{selected: !signupActive}" ng-click="toggleWithoutAnimation('registration.login')">
              Log in
              <div class="arrow"></div>
            </span>
            </div>
        </div>
    </ion-nav-title> -->
    <ion-content class="has-header">
        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-person placeholder-icon"></i>
                <input type="text" ng-model="user.name" placeholder="Full Name">
            </label>
            <label class="item item-input">
                <i class="icon ion-email placeholder-icon"></i>
                <input type="email" ng-model="user.email" placeholder="Email">
            </label>
            <label class="item item-input">
                <i class="icon ion-lock-combination placeholder-icon"></i>
                <input type="password" ng-model="user.password" placeholder="Password">
            </label>
            <label class="item item-input">
                <i class="icon ion-lock-combination placeholder-icon"></i>
                <input type="password" ng-model="user.password1" placeholder="Confirm Password">
            </label>
        </div>

        <div class="assertive padding" ng-show="error.message">{{error.message}}</div>
        <button ng-click="register()" class="button button-full button-positive">
            SIGN UP
        </button>
        <p class="padding">
            By creating an account you agree to the Terms of Use and Privacy Policy.
        </p>
        <button class="button button-block button-clear button-calm" ng-click="loginDemoUser()">
            Skip
        </button>

    </ion-content>
</ion-view>
