<ion-modal-view>
  <ion-header-bar>

    <h1 class="title">Company Info</h1>

  </ion-header-bar>
  <ion-content>

  <div class="work-types-header">
    <div>
      <h4>Requirements</h4>
      <i class="icon ion-android-car"></i>
      <i class="icon ion-android-bicycle"></i>
      <i class="icon icon-text"> 18+</i>
    </div>
    <div>
      <h4>Earnings Estimate</h4>
      <h3 class="light-green">${{selectedCompany.earningsEst - 2}}-${{selectedCompany.earningsEst + 2}} /hr</h3>
    </div>
  </div>
  
  <ul class="work-types-content">

    <img class="company-logo" ng-src="img/companies/{{selectedCompany.name | spaceless}}.png" alt="">

    <h4 class="center-text">{{selectedCompany.name | capitalize}}</h4>

    <p class="padding center-text">
      {{selectedCompany.description}}
    </p>
    <!-- <ion-item class="item-text-wrap" ng-class="{disabled : !company.available}" ng-repeat="(name, company) in selectedCompany.companies">
      <img ng-src="img/companies/{{name}}.png" alt="">
      <p>{{company.longInfo}}</p>
    </ion-item> -->

  </ul>

  </ion-content>

    <!-- <div class="button-bar padding">
      <button class="button button-stable" ng-click="decline(selectedCompany)">Go Back</button>
      <button class="button button-positive" ng-click="accept(selectedCompany)">
        Interested
      </button>
    </div> -->

    <div class="bar bar-footer bar-positive wg-button-bar">
    <div class="button-bar padding">
      <button class="button button-dark" ng-click="decline(selectedCompany)">Go Back</button>
      <button class="button button-positive" ng-click="accept(selectedCompany)">I'm Interested</button>
    </div>
  </div>
</ion-modal-view>
