<ion-modal-view>
    <ion-header-bar>
        <div class="buttons">
            <button class="button button-positive button-clear" ng-click="cancelMessage()">
                Cancel
            </button>
        </div>
        <h1 class="title">Contact Us</h1>
        <div class="buttons">
            <button class="button button-positive button-clear" ng-click="sendMessage()">Send</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <h4 class="padding">Put anything you want to ask us in here and hit send!</h4>
        <label class="item item-input item-stacked-label" readonly="true">
	        <span class="input-label">First Name</span>
            <input type="text" placeholder="First Name" value="{{currentUser.name}}" readonly="true">
        </label>
        <label class="item item-input item-floating-label">
            <textarea rows="5" placeholder="comments"></textarea>
        </label>

        <button href="tel:5103055860" class="button icon-left button-full button-assertive">
          <i class="icon ion-ios-telephone"></i>
		  Full Width Block Button
		</button>
    </ion-content>
</ion-modal-view>
