<div class="days">

    <div class="wg-title">
        <p>tap on the (+) sign on the day you want to set your availability.</p>
        <p>You can add as many hours as you like!</p>

        <strong ng-class="currentUser.totalHours === 0 ? 'wg-red' : 'wg-blue'">Total: {{currentUser.totalHours}} {{currentUser.totalHours == 1 ? 'Hour' : 'Hours'}}</strong>
    </div>

    <div ng-repeat="day in days">
        <ion-item class="item-divider">
            {{day | capitalize}}
        </ion-item>
        <ion-item ng-repeat = "(key, schedule) in currentUser.availability[day]" class="item item-icon-left">
            <i class="icon ion-ios-minus-outline assertive" ng-click="deleteSchedule(schedule)" ></i>
            <div ng-click="editSchedule(day, schedule)">
                <span>
                    <standard-time-meridian etime='schedule.startsAt.inputEpochTime'/>,
                </span>
                -
                <span>
                    <standard-time-meridian etime='schedule.endsAt.inputEpochTime'/>
                </span>
            </div>
        </ion-item>
        <ion-item class="item item-icon-left" ng-click="editSchedule(day)">
            <i class="icon ion-ios-plus-outline positive"></i>
        </ion-item>
    </div>
</div>