<div class="days">
    <div class="wg-title">
        <p>This is your availability matrix. Simply tap on the fields that you are available to work and it'll let our scheduler know when to best assign your shifts. To block out specific days, tap on "block out days" below.</p>
    </div>
    <div class="wg-grid-days">
        <div class="row">
            <div class="col">All</div>
            <div class="col" ng-repeat="int in intervals">{{int}}</div>
        </div>
        <div class="row" ng-repeat="day in days">
            <div class="col">{{day}}</div>
            <div class="col" ng-class="currentUser.availabilityGrid[day][i] ? 'selected' : ''" ng-repeat="(i, v) in intervals" ng-click="select(day, i)"></div>
        </div>
    </div>
</div>