<div class="days">
    <div class="wg-title">
        <p>Use this to customize exactly what hours you can and can't work. You can come back to change this later in your preferences. When you are done press the check mark on your top right.</p>
    </div>
    <div class="wg-grid-days">
        <div class="row" ion-affix template="daysHeader" data-affix-within-parent-with-class="wg-grid-days">
            <div class="first"></div>
            <div class="col" ng-click="select(day, null)" ng-repeat="day in days">{{day | limitTo: 1}}</div>
        </div>
        <div class="row" ng-repeat="(i, int) in intervals">
            <div class="first" ng-click="select(null, i)">{{int}}</div>
            <div class="col" ng-class="currentUser.availabilityGrid[day][i] == 1 ? 'selected' : currentUser.availabilityGrid[day][i] == 2 ? 'maybe' : ''" ng-repeat="day in days" ng-click="select(day, i)">
                <span>
                    {{currentUser.availabilityGrid[day][i] == 1 ? 'YES' : currentUser.availabilityGrid[day][i] == 2 ? 'MAYBE' : 'NO'}}
                </span>
            </div>
        </div>
    </div>
</div>
