<div class="days">
    <div class="wg-grid-days">
        <div class="row" wg-availability-header>
            <div class="first"></div>
            <!-- ng-click="select(day, null)" -->
            <div class="col" ng-repeat="day in days">{{day | limitTo: 1}}</div>
        </div>
        <div class="row" ng-repeat="(i, int) in intervals">
            <!-- ng-click="select(null, i)" -->
            <div class="first">{{int}}</div>
            <div class="col" ng-class="{selected : isSelected(day, int)}" ng-repeat="day in days" ng-click="select(day, i, int)">
                <span>
                    {{isSelected(day, int) ? 'YES' : 'NO'}}
                </span>
            </div>
        </div>
    </div>
</div>
