<ion-nav-bar class="bar-positive">
  <ion-nav-back-button>
  </ion-nav-back-button>
fdsafdas
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-lightbulb" menu-toggle="left">
    </button>
  </ion-nav-buttons>

  <ion-nav-title>
      something
    </ion-nav-title>

  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear" ng-show="showRightIcon" ng-class="showCalendarIcon ? 'ion-ios-calendar-outline' : 'ion-ios-list-outline'"
    ng-click="showCalendarIcon ? showScheduleCalendar() : showScheduleList()">
    </button>
  </ion-nav-buttons>

</ion-nav-bar>