<div class="shift">
    <div class="row shift-title">
        <div class="col">
            <p class="shift-header">requested by</p>
            <p class="shift-name">{{shift.name}}</p>
        </div>
        <div>
            <p class="shift-header">shift date</p>
            <p class="shift-date">
                {{shift.startsAt.getTime() | date:'mediumDate'}}
            </p>
            <p class="shift-earnings">Earnest Est: <span class="light-green">{{(shift.endsAt.getTime() - shift.startsAt.getTime())/3600000 * hourlyRate | currency:undefined:0}}</span></p>
        </div>
    </div>
    <div class="row">
        <div class="col box-outline img-box">
            <img ng-src="./img/companies/{{shift.company}}.png" alt="">
            <p>{{shift.company | capitalize}}</p>
        </div>
        <div class="col box-outline time-box">
            <p>from</p>
            <h4>
                <standard-time-meridian etime='shift.startsAt.getHours()*3600'></standard-time-meridian>
            </h4>
            <p>to</p>
            <h4>
            <standard-time-meridian etime='shift.endsAt.getHours()*3600'></standard-time-meridian>
            </h4>
        </div>
        <div class="col box-outline">
            <button ng-click="accept(shift)" class="button button-small button-positive">
                Accept
            </button>
            <button class="button button-small button-stable">
                Decline
            </button>
        </div>
    </div>
</div>
<color-divider/>