<div ng-repeat="group in groupedShifts">
    <div class="group-list">
        <ion-list>
            <ion-item id="{{anchroID(group)}}" class="item-divider" ion-affix data-affix-within-parent-with-class="group-list">
                {{dividerFunction(group[0].startsAt)}}
                <span>
                    earnings est: <i class="light-green">{{groupEarnings(group) | currency:undefined:0}}</i>
                </span>
            </ion-item>
            <ion-item class="item-avatar item-company-icon" bounce-left ng-repeat="shift in group" can-swipe="true">
                <img ng-src="img/companies/{{shift.company.toLowerCase()}}.png">
                <div class="schedule-text">
                    <p>
                        {{shift.company}}
                    </p>
                    <p class="schedule-time">
                        <standard-time-meridian etime='shift.startsAt.getHours()*3600'></standard-time-meridian> -
                        <standard-time-meridian etime='shift.endsAt.getHours()*3600'></standard-time-meridian>
                    </p>
                </div>
                <span class="item-note">
                    <strong>&lt</strong>
                </span>
                <ion-option-button class="button-positive" ng-click="goToApp(shift)">
                    App
                </ion-option-button>
                <!-- <ion-option-button class="button-positive" ng-click="tradeShift(shift)">
                    Trade
                </ion-option-button> -->
                <ion-option-button class="button-assertive" ng-click="cancelWarning(shift, group, groupedShifts)">
                    Cancel
                </ion-option-button>
            </ion-item>
        </ion-list>
    </div>
</div>