<div class="weeklyTarget padding-top">
	<p>How many hours would you <strong>like</strong> to work per week?</p>
	<p class= "weekly-hours light-blue">{{currentUser.hourlyTarget}}</p>
	<div class="item range">
		0
		<input type="range" ng-model="currentUser.hourlyTarget" name="hours" ng-change="update(currentUser.hourlyTarget)" min="0" max="80">
		80
	</div>
	<p class="small-light">Earnings estimate</p>

	
	<div class="currency-wrapper padding">
		<p class= "currency-estimate light-green">{{currentUser.hourlyTarget * hourlyRate | currency:undefined:0}} </p>
		<span class="earning-label-right">weekly</span>
	</div>
	<p class="padding-top"></p>
	
	<div class="currency-wrapper padding">
		<p class= "currency-estimate light-green">{{currentUser.hourlyTarget * hourlyRate / 7 * 30 | currency:undefined:0}} </p>
		<span class="earning-label-right">monthly</span>
	</div>
</div>