<div class="wg-grid">
    <div class="center-text padding">
        <p>Select the types of work that you are interested in. bear in mind that Ridesharing and certain delivery jobs require a car!</p>
    </div>
    <div class="row padding-top" ng-repeat="rows in workTypes">
        <div class="col light-blue" ng-repeat="item in rows" ng-click="select(item.id)" ng-class="currentUser.workTypes.{{item.id}} ? 'selected' : ''">
            <i class="icon" ng-class="item.icon"></i>
            <p>{{item.name}}</p>
        </div>
    </div>
</div>
