<ion-modal-view>
  <ion-header-bar>

    <h1 class="title">{{selectedWorkType.title}}</h1>

  </ion-header-bar>
  <ion-content>

  <div class="work-types-header">
    <div>
      <h4>Requirements</h4>
      <i class="icon ion-android-car"></i>
      <i class="icon ion-android-bicycle"></i>
      <i class="icon icon-text"> 18+</i>
    </div>
    <div>
      <h4>Hourly Earnings Estimate</h4>
      <h4 class="light-green">$16-$20</h4>
    </div>
  </div>

  <p class="center-text available-jobs"><strong> Available Jobs </strong></p>
  
  <ul class="work-types-content">
  <!-- {{selectedWorkType}} -->
    <ion-item class="item-text-wrap" ng-repeat="company in selectedWorkType.companies | filter:{available: true}">
      <img ng-src="img/companies/{{company.name}}.png" alt="">
      <p>{{company.longInfo}}</p>
    </ion-item>

  </ul>

  <p class="center-text coming-soon"><strong> Coming Soon </strong></p>

  <ul class="work-types-content">
  <!-- {{selectedWorkType}} -->
    <ion-item class="item-text-wrap disabled" ng-repeat="company in selectedWorkType.companies | filter:{available: false}">
      <img ng-src="img/companies/{{company.name}}.png" alt="">
      <p>{{company.longInfo}}</p>
    </ion-item>

  </ul>

  <div class="button-bar padding">
    <button class="button button-stable" ng-click="decline(selectedWorkType)">Go Back</button>
    <button class="button button-positive" ng-click="accept(selectedWorkType)">
      I'm In
    </button>
  </div>

  </ion-content>
</ion-modal-view>
