<div class="wg-grid">
    <div class="center-text padding">
        <p>Select the types of work that you are interested in. bear in mind that Ridesharing and certain delivery jobs require a car!</p>
    </div>
    <div class="row padding-top" ng-repeat="rows in workTypes">
        <div class="col light-blue" ng-repeat="wType in rows" ng-click="select(wType)" ng-class="{selected : currentUser.workTypes.{{wType.name}}}">
            <i class="work-type-icon icon" ng-class="wType.icon"></i>
            <p>{{wType.name}}</p>
        </div>
    </div>
</div>
