<ion-modal-view>
  <ion-header-bar>

    <h1 class="title">{{selectedWorkType.title}}</h1>

  </ion-header-bar>

  <ion-content class="has-footer">

  <div class="work-types-header">
    <div>
      <h4>Requirements</h4>
      <i class="icon ion-android-car"></i>
      <i class="icon ion-android-bicycle"></i>
      <i class="icon icon-text"> 18+</i>
    </div>
    <div>
      <h4>Hourly Earnings Estimate</h4>
      <h3 class="light-green">$16-$20 /hr</h3>
    </div>
  </div>

  <ul class="work-types-content">

    <p class="center-text available-jobs"><strong> Available Jobs </strong></p>

    <ion-item class="item-text-wrap" ng-repeat="company in selectedWorkType.companies | filter:{availableNow: true}">
      <img ng-src="img/companies/{{company.name | spaceless}}.png" alt="">
      <p>{{company.description}}</p>
    </ion-item>

  </ul>

  <ul class="work-types-content">

    <p class="center-text coming-soon"><strong> Coming Soon </strong></p>

    <ion-item class="item-text-wrap disabled" ng-repeat="company in selectedWorkType.companies | filter:{availableNow: false}">
      <img ng-src="img/companies/{{company.name | spaceless}}.png" alt="">
      <p>{{company.description}}</p>
    </ion-item>

  </ul>

  </ion-content>

  <div class="bar bar-footer bar-positive wg-button-bar">
    <div class="button-bar padding">
      <button class="button button-dark" ng-click="decline(selectedWorkType)">Go Back</button>
      <button class="button button-positive" ng-click="accept(selectedWorkType)">I'm Interested</button>
    </div>
  </div>
  
</ion-modal-view>
