<ion-view view-title="Availability">
<!-- class="has-tabs" -->
	<ion-content>

		<div class="padding">
			<div>
				
				<canvas barchart responsive=true options="chartOptions" data="chart"></canvas>
				
				<div class="wg-flex align-center">
					<span class="wg-flex-item">Mon</span>
					<span class="wg-flex-item">Tue</span>
					<span class="wg-flex-item">Wed</span>
					<span class="wg-flex-item">Thu</span>
					<span class="wg-flex-item">Fri</span>
					<span class="wg-flex-item">Sat</span>
					<span class="wg-flex-item">Sun</span>
				</div>
			</div>
		</div>

		<days/>
	</ion-content>
    <!-- <div class="tabs">
        <a class="tab-item active">
            Add Days
        </a>
        <a class="tab-item" ng-click="toggleWithoutAnimation('app.block-days-page')">
            Block Out Days
        </a>
    </div> -->
</ion-view>
