<ion-view view-title="Availability">
	<!-- <ion-header-bar flex-calendar-subheader class="bar-subheader custom-subheader">
		<flex-calendar options="options" events="shifts"></flex-calendar>
	</ion-header-bar> -->
	
	<ion-content class="has-tabs">

		<div class="title">
	        <p>Simply tap on the days that you're unable to work and we'll block them out. ANy shifts within 72 hours must be cancelled through the schedule page</p>
	    </div>
	</ion-content>
    <div class="tabs">
        <a class="tab-item" ng-click="toggleWithoutAnimation('app.availability-page')">
            Add Days
        </a>
        <a class="tab-item active">
            Block Out Days
        </a>
    </div>
</ion-view>
