<ion-view view-title='{{title}}'>
    <ion-content class="claim-shifts">
        <ion-list>
            <ion-item class="item-remove-animate" ng-class="{'claim-success' : shift.claimStatus === 2, 'claim-failure' : shift.claimStatus === 3}" ng-repeat="shift in shifts" ng-click="select(shift)">
                <div class="row">
                    <div class="img-container">
                        <img ng-src="img/companies/{{shift.company.toLowerCase()  | spaceless}}.png" alt="">
                    </div>
                    <div class="col">
                        <div>{{shift.company | capitalize}}</div>
                        <div class="bold-note">{{shift.location | capitalize: true}}</div>
                    </div>
                    <div class="col col-separator">
                        <div>{{shift.startsAt | date: "h:mm a" | lowercase}} <i ng-if="shift.flex"class='icon ion-ios-more'></i>{{shift.flex ? "" : "-"}} {{shift.endsAt | date: "h:mm a" | lowercase}}</div>
                        <div class="bold-note highlighted-note">{{shift.notes | joinBy: ", "}}</div>
                    </div>
                </div>
                <!-- <i class="icon ion-android-add"></i> -->
            </ion-item>
            <p class="wg-title-instruction padding-top" ng-if="!shifts.length">
                Nothing to see here. Try one of the other days.
            </p>
        </ion-list>
    </ion-content>
</ion-view>
