<ion-view view-title='{{title}}'>
    <ion-content class="claim-shifts">
        <ion-list>
            <ion-item class="item-remove-animate" ng-class="{'claim-success' : shift.claimStatus === 2, 'claim-failure' : shift.claimStatus === 3}" ng-repeat="shift in shifts" ng-click="select(shift)">
                <div class="row">
                    <div class="img-container">
                        <img ng-src="img/companies/{{shift.company.toLowerCase()  | spaceless}}.png" alt="">
                    </div>
                    <div class="col">
                        <div class="company-name">{{shift.company | capitalize}}</div>
                        <div class="company-location">{{shift.location | capitalize: true}}</div>
                    </div>
                    <div class="col time-slot">
                        <div>{{shift.startsAt | date: "h:mm a" | lowercase}} <i ng-if="shift.flex"class='icon ion-ios-more'></i>{{shift.flex ? "" : "-"}} {{shift.endsAt | date: "h:mm a" | lowercase}}</div>
                        <div>
                            <span ng-if="shift.flex">up to </span>
                            <strong class="light-green">
                                <span ng-if="shift.shifts.length">{{earningsEstimate.group(shift.shifts) | currency:undefined:0}}</span>
                                <span ng-if="!shift.shifts.length">{{earningsEstimate.shift(shift) | currency:undefined:0}}</span>
                            </strong>
                        </div>
                    </div>
                </div>
                <!-- <i class="icon ion-android-add"></i> -->
            </ion-item>
            <p class="wg-title-instruction padding-top" ng-if="!shifts.length">
                Nothing to see here. Try one of the other days.
            </p>
        </ion-list>
    </ion-content>
</ion-view>
