<ion-view view-title="Connect Accounts" ng-controller="ConnectAccountsCtrl">
    <ion-content class="connect-accounts">
        <div class="padding">
            <p class="wg-title-instruction padding-top">
                Connect your company accounts to manage your schedule and shifts in one place
            </p>
        </div>
        <ion-list>

            <!-- Can drag ion-toggle on or off on mobile -->
            <ion-toggle ng-disabled="isEditing" ng-model="company.connected" ng-change="toggleConnection(company)" toggle-class="toggle-positive" class="item-img-left" ng-repeat="company in companyList | filter: {availableNow: true}">
                <img ng-src="img/companies/{{company.name.toLowerCase()  | spaceless}}.png" alt=""> {{company.name | capitalize}}
            </ion-toggle>
        </ion-list>
    </ion-content>
    <wg-save-bar wg-custom-title="'Connected!'" wg-success="wgSuccess" wg-custom-save="customSave" wg-prop='"eligibility"'></wg-save-bar>
</ion-view>
