<ion-view view-title="Earnings">
    <ion-content class="has-header has-footer">
        <p ng-if="currentUser.earningsTotal.lifetime" class="wg-title-instruction padding">
            This is an estimate of your earnings based on the hours you’ve logged on WorkGenius
        </p>
        <p ng-if="!currentUser.earningsTotal.lifetime" class="wg-title-instruction padding">
            You haven’t logged any hours with us yet.
            <br>
            Time to get to work!
        </p>
        <div class="center-text">
            <div class="wg-earnings-block">
                <h4>Today</h4>
                <h1>
                    {{ currentUser.earningsTotal.day | currency:undefined:0}}
                </h1>
                <h3>avg {{(currentUser.earningsTotal.day / currentUser.hoursTotal.day) || 0 | currency:undefined:0}}/hr</h3>
            </div>
            <div class="wg-earnings-block">
                <h4>This Week</h4>
                <h1>
                    {{ currentUser.earningsTotal.week | currency:undefined:0}}
                </h1>
                <h3>avg {{(currentUser.earningsTotal.week / currentUser.hoursTotal.week) || 0 | currency:undefined:0}}/hr</h3>
            </div>
            <div class="wg-earnings-block">
                <h4>This Month</h4>
                <h1>
                    {{ currentUser.earningsTotal.month | currency:undefined:0}}
                </h1>
                <h3>avg {{(currentUser.earningsTotal.month / currentUser.hoursTotal.month) || 0 | currency:undefined:0}}/hr</h3>
            </div>
            <div class="wg-earnings-block">
                <h4>Lifetime</h4>
                <h1>
                    {{ currentUser.earningsTotal.lifetime | currency:undefined:0}}
                </h1>
                <h3>avg {{(currentUser.earningsTotal.lifetime / currentUser.hoursTotal.lifetime) || 0 | currency:undefined:0}}/hr</h3>
            </div>
        </div>
    </ion-content>

    <div class="bar bar-footer bar-positive wg-button-bar">
        <div class="button-bar padding">
            <button class="button button-positive">Earnings</button>
            <button class="button button-dark" ng-click="toggleWithoutAnimation('app.hours')">Hours</button>
        </div>
    </div>
</ion-view>
