<ion-view view-title="Earnings">
    <ion-content class="has-header has-footer">
        <p class="wg-title-instruction padding">
            This is an estimate of your earnings based on the hours you’ve logged on WorkGenius
        </p>
        <div class="center-text">
            <div class="wg-earnings-block">
                <h4>Today</h4>
                <h1>
                    {{ currentUser.earnings.day | currency:undefined:0}}
                </h1>
                <h3>avg {{17 | currency:undefined:0}}/hr</h3>
            </div>
            <div class="wg-earnings-block">
                <h4>This Week</h4>
                <h1>
                    {{ currentUser.earnings.week | currency:undefined:0}}
                </h1>
                <h3>avg {{19 | currency:undefined:0}}/hr</h3>
            </div>
            <div class="wg-earnings-block">
                <h4>This Month</h4>
                <h1>
                    {{ currentUser.earnings.month | currency:undefined:0}}
                </h1>
                <h3>avg {{18 | currency:undefined:0}}/hr</h3>
            </div>
            <div class="wg-earnings-block">
                <h4>Lifetime</h4>
                <h1>
                    {{ currentUser.earnings.lifetime | currency:undefined:0}}
                </h1>
                <h3>avg {{17 | currency:undefined:0}}/hr</h3>
            </div>
        </div>
    </ion-content>

    <div class="bar bar-footer bar-positive wg-button-bar">
        <div class="button-bar padding">
            <button class="button button-dark">Earnings</button>
            <button class="button button-positive" ng-click="toggleWithoutAnimation('app.hours')">Hours</button>
        </div>
    </div>

    <!-- <div class="tabs tabs-positive tabs-icon-left">
        <a class="tab-item active">
            <i class="icon ion-cash"></i> Earnings
        </a>
        <a class="tab-item" >
            <i class="icon ion-clock"></i> Hours
        </a>
    </div> -->
</ion-view>
