<ion-view view-title="Hours">
    <ion-content class="has-header has-footer">

        <!-- <div class="wg-title">
            <p>This is an estimate of your earnings based on the hours you've worked</p>
        </div> -->

        <div class="center-text">
            <div class="wg-hours-block">
                <h4>Today</h4>
                <h1>
                    {{currentUser.hours.day}}
                </h1>
            </div>

            <div class="wg-hours-block">
                <h4>This Week</h4>
                <h1>
                    {{currentUser.hours.week}}
                </h1>
            </div>

            <div class="wg-hours-block">
                <h4>This Month</h4>
                <h1>
                    {{currentUser.hours.month}}
                </h1>
            </div>

            <div class="wg-hours-block">
                <h4>Lifetime</h4>
                <h1>
                    {{currentUser.hours.lifetime}}
                </h1>
            </div>
        </div>
    </ion-content>

    <div class="bar bar-footer bar-positive wg-button-bar">
        <div class="button-bar padding">
            <button class="button button-positive" ng-click="toggleWithoutAnimation('app.earnings')">Earnings</button>
            <button class="button button-dark">Hours</button>
        </div>
    </div>

    <!-- <div class="tabs tabs-positive tabs-icon-left">
        <a class="tab-item" ng-click="toggleWithoutAnimation('app.earnings')">
            <i class="icon ion-cash"></i> Earnings
        </a>
        <a class="tab-item active">
            <i class="icon ion-clock"></i> Hours
        </a>
    </div> -->
</ion-view>
