<ion-view view-title="Hours">
    <ion-content class="has-header has-footer">

        <p ng-if="currentUser.hoursTotal.lifetime" class="wg-title-instruction padding">
            Here's how busy you've been recently<br>Keep it up!
        </p>
        <p ng-if="!currentUser.hoursTotal.lifetime" class="wg-title-instruction padding">
            We can’t estimate your earnings just yet because you haven’t logged hours with us. Check back after you’ve completed a shift or two!
        </p>

        <div class="center-text">
            <div class="wg-hours-block">
                <h4>Today</h4>
                <h1>
                    {{currentUser.hoursTotal.day}}
                </h1>
            </div>

            <div class="wg-hours-block">
                <h4>This Week</h4>
                <h1>
                    {{currentUser.hoursTotal.week}}
                </h1>
            </div>

            <div class="wg-hours-block">
                <h4>This Month</h4>
                <h1>
                    {{currentUser.hoursTotal.month}}
                </h1>
            </div>

            <div class="wg-hours-block">
                <h4>Lifetime</h4>
                <h1>
                    {{currentUser.hoursTotal.lifetime}}
                </h1>
            </div>
        </div>
    </ion-content>

    <div class="bar bar-footer bar-positive wg-button-bar">
        <div class="button-bar padding">
            <button class="button button-dark" ng-click="toggleWithoutAnimation('app.earnings')">Earnings</button>
            <button class="button button-positive">Hours</button>
        </div>
    </div>
</ion-view>
