<ion-view view-title="Hours">
    <ion-content class="has-header has-tabs">

        <div class="center-text">
            <wg-line-header title="Today"> </wg-line-header>
            <h2>
                {{8}}
        </h2>
            <wg-line-header title="This Week"> </wg-line-header>
            <h2>
                {{31}}
        </h2>
            <wg-line-header title="This Month"> </wg-line-header>
            <h2>
                {{130}}
        </h2>
            <wg-line-header title="Lifetime"> </wg-line-header>
            <h2>
                {{846}}
        </h2>
        </div>
    </ion-content>
    <div class="tabs tabs-icon-left">
        <a class="tab-item" ng-click="toggleWithoutAnimation('app.earnings-page')">
            <i class="icon ion-cash"></i> Earnings
        </a>
        <a class="tab-item active">
            <i class="icon ion-clock"></i> Hours
        </a>
    </div>
</ion-view>
