<ion-view view-title="Info" ng-controller="PersonalInfoPageCtrl">

    <ion-content class="personal-info-page">

		<br>
        <!-- 
        <ion-list>
            <label class="item item-input item-stacked-label disabled">
                <span class="input-label"><strong>Full Name</strong></span>
                <input ng-change="onChange()" disabled type="text" placeholder="John Genius" name="name" ng-model="currentUser.name">
            </label>
            <label class="item item-input item-stacked-label disabled">
                <span class="input-label"><strong>Email</strong></span>
                <input ng-change="onChange()" disabled type="email" placeholder="johngenius@gmail.com" name="email" ng-model="currentUser.email">
            </label>
        </ion-list>

        <br> -->

        <!-- <personal-info current-user="currentUser" on-change="onChange"></personal-info> -->

        <ion-item href="#/app/vehicles" class="item-icon-left item-icon-right">
            <i class="icon ion-document-text"></i>Documents
            <i class="icon ion-ios-arrow-right"></i>
        </ion-item>

        <ion-item href="#/app/vehicles" class="item-icon-left item-icon-right">
            <i class="icon ion-android-car"></i>Vehicles
            <span class="item-note vehicle-item-list">
                <span ng-repeat="vehicle in currentUser.vehicles | filter:{ selected: true }">{{vehicle.name}}{{$last ? '' : ', '}}</span>
            </span>
            <i class="icon ion-ios-arrow-right"></i>
        </ion-item>

        <ion-item href="#/app/locations" class="item-icon-left item-icon-right">
            <i class="icon ion-location"></i>Locations
            <i class="icon ion-ios-arrow-right"></i>
        </ion-item>

        <ion-list>
            <ion-item class="item-icon-right assertive" ng-click="profile.logout()">
                Logout
                <i class="icon ion-log-out"></i>
            </ion-item>
        </ion-list>

        <div class="android-bottom-padder"></div>
    </ion-content>

    <wg-save-bar wg-on-change="onChange" wg-prop='"personalInfo"'></wg-save-bar>
</ion-view>
