<ion-view view-title="Preferences">
	<ion-content class="wg-preferences">

		<!-- <p class="wg-list-title">Work Preferences</p> -->

		<br>
		<ion-list>
			<!-- <div class="item item-divider">
				Work Preferences
			</div> -->
			<!-- <ion-item href="#/app/target">
			   Weekly Hours Target
				<span class="item-note">
					{{currentUser.target}} {{currentUser.target == 1 ? 'Hour' : 'Hours'}}
				</span>
			</ion-item> -->

			<!-- <ion-item href="#/app/companies">
			   My Companies
				<span class="item-note">
					<span ng-repeat= "el in currentUser.eligibility | filter:{ eligible: true , interested: true} | truncateObj : 2">{{el.company}}{{$last || $middle ? '' : ', '}}</span>
				</span>
			</ion-item> -->

			<!-- <ion-item href="#/app/availability-tabs/availability">
			   Manage Availability
				<span class="item-note">
					{{currentUser.totalHours}} {{currentUser.totalHours == 1 ? 'Hour' : 'Hours'}}
				</span>
			</ion-item> -->
			<ion-item href="#/app/vehicles" class="item-icon-right">
	           <i class="icon ion-ios-arrow-right"></i>
			   My Vehicles
				<span class="item-note">
					<span ng-repeat="vehicle in currentUser.vehicles | filter:{ selected: true }" >{{vehicle.name}}{{$last ? '' : ', '}}</span>
				</span>
			</ion-item>
			
			<ion-item href="#/app/device-type-page" class="item-icon-right">
	           <i class="icon ion-ios-arrow-right"></i>
			   Device
			</ion-item>

			<ion-item href="#/app/personal-info" class="item-icon-right">
	           <i class="icon ion-ios-arrow-right"></i>
			   Personal Information
			</ion-item>

			<!-- <ion-item href="#/app/notifications" class="item-icon-right">
	           <i class="icon ion-ios-arrow-right"></i>
			   Notifications
			</ion-item> -->

		</ion-list>

		<!-- <p class="wg-list-title">Personal Information</p> -->

		<!-- <br> -->
		<!-- <ion-list>
			<div class="item item-divider">
				Personal Information
			</div>
			<ion-item>{{currentUser.name}} <span class="item-note">Name</span></ion-item>
			<ion-item ng-if="currentUser.phone">{{currentUser.phone}} <span class="item-note">Phone</span></ion-item>
			<ion-item>{{currentUser.email}} <span class="item-note">Email</span></ion-item>
		</ion-list> -->

		<!-- Enable once edit is working properly -->
		<!-- <ion-list>
			<ion-item class="item-input-element">
			   <input type="text" ng-model="currentUser.name" readonly="readonly">
			</ion-item>
			<ion-item focus-on-tap class="item-input-element">
			   <input class="input-phone" type='text' phone-input ng-model="currentUser.phone" placeholder="Phone Number">
			   <span class="item-note wg-floating-note">Edit</span>
			</ion-item>
			<ion-item focus-on-tap class="item-input-element">
			   <input type="text" ng-model="currentUser.email">
			   <span class="item-note wg-floating-note">Edit</span>
			</ion-item>
		</ion-list> -->
		<br>
		<br>
		<ion-list>
			<ion-item class="item-icon-right assertive" ng-click="logout()">
	          Logout
	          <i class="icon ion-log-out"></i>
	        </ion-item>
		</ion-list>

	</ion-content>
</ion-view>
