<ion-view view-title="Preferences">
	<ion-content class="wg-preferences-page">

		<p class="wg-list-title">Work Preferences</p>

		<ion-list type="card">
			<ion-item href="#/app/target-page">
			   Weekly Hours Target
				<span class="item-note">
					{{currentUser.hourlyTarget}} {{currentUser.hourlyTarget <= 1 ? 'Hour' : 'Hours'}}
				</span>
			</ion-item>

			<ion-item href="#/app/companies-page">
			   My Companies
				<span class="item-note">
					<span ng-repeat= "(company, value) in currentUser.companies | truncateObj : 2">{{company}}{{$last || $middle ? '' : ', '}}</span>
				</span>
			</ion-item>

			<ion-item href="#/app/work-types-page">
			   Types of Work
				<span class="item-note">
					<span ng-repeat= "(workType, value) in currentUser.workTypes | truncateObj : 2">{{workType}}{{$last || $middle ? '' : ', '}}</span>
				</span>
			</ion-item>

			<ion-item href="#/app/availability-tabs/availability">
			   Manage Availability
				<span class="item-note">
					{{currentUser.totalHours}} {{currentUser.totalHours == 1 ? 'Hour' : 'Hours'}}
				</span>
			</ion-item>

			<ion-item href="#/app/vehicles-page">
			   Vehicle Type
				<span class="item-note">
					<span ng-repeat="vehicle in currentUser.vehicles | filter:{ selected: true }" >{{vehicle.name}}{{$last ? '' : ', '}}</span>
				</span>
			</ion-item>

		</ion-list>

		<p class="wg-list-title">Personal Information</p>

		<ion-list type="card">
			<ion-item class="item-input-element">
			   <input type="text" ng-model="currentUser.name">
			</ion-item>

			<ion-item class="item-input-element">
			   <input class="input-phone" type='text' phone-input ng-model="phoneVal" ng-model="phoneVal"/>
			</ion-item>

			<ion-item class="item-input-element">
			   <input type="text" ng-model="currentUser.email">
			</ion-item>

		</ion-list>

		<ion-list type="card">
			<!-- add ng-show="currentUser" if needed -->
			<ion-item class="item-icon-right assertive" ng-click="logout()">
	          Logout
	          <i class="icon ion-log-out"></i>
	        </ion-item>
		</ion-list>

	</ion-content>
</ion-view>
