<ion-view class="register" title="Register">
    <ion-content has-header="true" has-tabs="true" padding="true">
        <ion-slide-box on-slide-changed="slideHasChanged($index)">
            <!-- username and password -->
            <ion-slide>
                <div class="box">
                    <div class="list">
                        
                        <label class="item item-input">
                            <input type="text" ng-model="user.name" placeholder="Name">
                        </label>
                        <label class="item item-input">
                            <input type="email" ng-model="user.email" placeholder="Email">
                        </label>
                        <label class="item item-input">
                            <input type="password" ng-model="user.password" placeholder="Password">
                        </label>
                        <label class="item item-input">
                            <input type="password" ng-model="user.password1" placeholder="Password">
                        </label>
                    </div>
                </div>
            </ion-slide>

            <!-- companies -->
            <ion-slide>
                <div class="list box" ng-controller="CompanyWhitelistCtrl">
                    <companies/>
                </div>
            </ion-slide>

            <!-- Daily Schedule -->
            <ion-slide>
                <div class="list box" ng-controller="AvailabilityCtrl">
                    <days/>
                </div>
            </ion-slide>

            <!-- Hourly Target -->
            <ion-slide>
                <div class="list box" ng-controller="weeklyTargetCtrl">
                    <p>Finally, how many hours would you <strong>like</strong> to work per week?</p>
                    <weekly-target-controls/>
                </div>

                <!-- Signup -->
                <div class="">
                    <div class="assertive" ng-show="error.message">{{error.message}}</div>
                    <button class="button button-block button-positive" ng-click="register()">
                        Finish >>
                    </button>
                    By creating an account you agree to the Terms of Use and Privacy Policy.
                </div>
            </ion-slide>

        </ion-slide-box>
    </ion-content>
</ion-view>
