<ion-view ng-controller="ScheduleCtrl" view-title="{{selectedMonth | translate}} {{selectedYear}}">

	<ion-header-bar ion-cal-subheader class="bar-subheader custom-subheader">
		<ion-cal calendar-type="week" options="options" events="currentUser.shifts"></ion-cal>
	</ion-header-bar>

    <ion-content delegate-handle="scheduleScroll" class="has-ion-cal-subheader schedule" >
	    	<ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
			</ion-refresher>
	        <shift-list></shift-list>

	        <div ng-if="currentUser.shifts.length === 0">
	        	
				<img class="schedule-placeholder" src="img/empty_schedule_no_diamond.png" alt="">
				<p class="wg-title-instruction">
					We’re working on getting you some shifts right now.
					<br>
					You’ll see them here soon!
				</p>
	        </div>
		    <!-- <ion-item id="empty-shift-list" class="item-avatar" ng-repeat="empty in [1,2]">
		        {{$first && !groupedShifts.length ? 'No shifts to show' : ''}}
		    </ion-item> -->
	</ion-content>
</ion-view>