<ion-view ng-controller="ScheduleCtrl" view-title="{{selectedMonth | uppercase | translate}}" right-buttons="myRightButtons">

	<ion-header-bar flex-calendar-subheader class="bar-subheader custom-subheader">
		<flex-calendar options="options" events="shifts"></flex-calendar>
	</ion-header-bar>

    <ion-content class="has-flex-calendar-subheader" >
	        <shift-list></shift-list>

		    <ion-item id="empty-shift-list" class="item-avatar" ng-repeat="empty in [1,2]">
		        {{$first && !groupedShifts.length ? 'No shifts to show' : ''}}
		    </ion-item>

	</ion-content>
</ion-view>