<ion-view ng-controller="ScheduleCtrl" view-title="{{selectedMonth | uppercase | translate}} {{selectedYear}}">

	<ion-header-bar flex-calendar-subheader class="bar-subheader custom-subheader">
		<flex-calendar calendar-type="week" options="options" events="currentUser.shifts"></flex-calendar>
	</ion-header-bar>

    <ion-content delegate-handle="scheduleScroll" class="has-flex-calendar-subheader" >
	        <shift-list></shift-list>

			<img ng-if="currentUser.shifts.length === 0" class="schedule-placeholder" src="img/empty_schedule.png" alt="">
		    <!-- <ion-item id="empty-shift-list" class="item-avatar" ng-repeat="empty in [1,2]">
		        {{$first && !groupedShifts.length ? 'No shifts to show' : ''}}
		    </ion-item> -->
	</ion-content>
</ion-view>