<ion-view view-title="Stats" left-buttons="leftButtons">
    <ion-content class="has-header">

        <div><wg-profile-photo/></div>
        
        <h4 class="wg-user-name">{{currentUser.name}}</h4>

        <div class="wg-stats-toggler">
            <span ng-class="{wgBlueBack: toggle}" ng-click="toggle = true">
                Earnings
            </span>
            <span ng-class="{wgYellowBack: !toggle}" ng-click="toggle = false">
                Performance
            </span>
        </div>
        <div title="Earnings" icon="ion-cash" ng-show="toggle">
            <div class="earnings center-text">
            	<h4>Today</h4>
                <h2>
	                {{188 | currency:undefined:0}}
                </h2>
                <h4>This Week</h4>
                <h2>
	                {{ 720 | currency:undefined:0}}
                </h2>
                <h4>This Month</h4>
                <h2>
	                {{ 2410 | currency:undefined:0}}
                </h2>
                <h4>Lifetime</h4>
                <h2>
	                {{ 11002 | currency:undefined:0}}
                </h2>
            </div>
        </div>

        <div title="Hours" icon="ion-clock" ng-hide="toggle">
			<div class="hours center-text">
				<h4>Today</h4>
                <h2>
	                {{8}}
                </h2>
                <h4>This Week</h4>
                <h2>
	                {{31}}
                </h2>
                <h4>This Month</h4>
                <h2>
	                {{130}}
                </h2>
                <h4>Lifetime</h4>
                <h2>
	                {{846}}
                </h2>
			</div>
        </div>
    </ion-content>
</ion-view>
