<ion-view view-title="Vehicles">
    <ion-content>
        <ion-list>
            <ion-item class="item-checkbox item-icon-right" ng-repeat="vehicle in currentUser.vehicles">
                <label class="checkbox">
                    <input type="checkbox" ng-change="onChange()" ng-model="vehicle.selected">
                </label>
                {{vehicle.name}}
                <i class="icon {{vehicle.icon}}"></i>
            </ion-item>
        </ion-list>
    </ion-content>

    <div class="bar bar-footer bar-positive" ng-show="changed" ng-click="save()">
      <h1 class="title">Save</h1>
    </div>
</ion-view>
