<ion-view title="Application" ng-controller="DocumentsPreferenceCtrl as car">
    <ion-content class="big-form wg-application apply-car">

        <h4>
            Please upload your documents
        </h4>

        <div class="padding">
            <button class="button button-outline button-positive button-block" ng-click="car.uploadRegistration()">
              Upload Registration
            </button>

            <button class="button button-outline button-positive button-block" ng-click="car.uploadInsurance()">
              Upload Proof of Insurance
            </button>

            <button class="button button-outline button-positive button-block" ng-click="car.uploadLicense()">
              Upload Drivers License
            </button>
        </div>



    </ion-content>
</ion-view>
