<ion-view title="Application" ng-controller="PhoneCallCtrl as phone">
    <ion-content class="big-form wg-application apply-phone">

        <h4>
            Pick a time for a 10 min phone call
        </h4>
        <ion-list>
            <ion-radio ng-repeat="slot in phone.timeslots" ng-model="phone.choice" ng-value="slot">{{slot.start}}</ion-radio>
        </ion-list>

        <div class="next-button">
            <button
            ng-class="{disabled: !phone.choice}"
            ng-click="phone.next()"
            class="button button-positive"
            >
                Continue ➝
            </button>
        </div>

    </ion-content>
</ion-view>
