<ion-view view-title="Preferences" ng-controller="PreferencesCtrl as preferences">
    <ion-content class="wg-preferences">

        <br>

        <ion-list>

            <ion-item href="#/app/personal-info" class="item-icon-left item-icon-right">
                <i class="icon ion-person"></i>Personal Information
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>

            <ion-item href="#/app/vehicles" class="item-icon-left item-icon-right">
                <i class="icon ion-document-text"></i>Documents
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>

            <ion-item href="#/app/vehicles" class="item-icon-left item-icon-right">
                <i class="icon ion-android-car"></i>Vehicles
                <span class="item-note vehicle-item-list">
                    <span ng-repeat="vehicle in currentUser.vehicles | filter:{ selected: true }">{{vehicle.name}}{{$last ? '' : ', '}}</span>
                </span>
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>

            <ion-item href="#/app/locations" class="item-icon-left item-icon-right">
                <i class="icon ion-location"></i>Locations
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>

            <ion-item href="#/app/vehicles" class="item-icon-left item-icon-right">
                <i class="icon ion-cash"></i>Earnings Goal
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>

            <ion-item href="#/app/vehicles" class="item-icon-left item-icon-right">
                <i class="icon ion-android-notifications"></i>Notifications
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>

        </ion-list>

        <br>

        <ion-list>
            <ion-item class="item-icon-right assertive" ng-click="preferences.logout()">
                Logout
                <i class="icon ion-log-out"></i>
            </ion-item>
        </ion-list>
        <br>
        <p class="menu-note center-text">v{{appVersion || "0.0.1"}}</p>
    </ion-content>
</ion-view>
