<ion-view title="Application" ng-controller="LiftCtrl as lift">
    <ion-content class="big-form wg-application apply-lift" scroll="false">
        <h4>
            Can you consistently
            <br>
            lift up to <strong>50lbs?</strong>
        </h4>

        <ion-checkbox ng-model="lift.canLift">Yes</ion-checkbox>

        <div class="next-button">
            <button ng-click="lift.next()" ng-class="{disabled: !lift.canLift}" type="submit" class="button">
                Continue ➝
            </button>
        </div>

    </ion-content>
</ion-view>
