<ion-view>
    <ion-content ng-show="!state.success" class="has-header">
        <form name="deviceForm" ng-submit="reset()" novalidate>
            <div class="list list-inset borderless-input">
                <label class="item item-input">
                    <input type="email" ng-model="user.email" placeholder="Enter your email">
                </label>
            </div>
            <hidden-submit></hidden-submit>
        </form>
        <div class="assertive" ng-show="error.message">{{error.message}}</div>
        <button class="button button-full button-positive" ng-click="reset()">
            RESET PASSWORD
        </button>
    </ion-content>
    <ion-content ng-show="state.success" class="has-header" padding="true">
        <div class="positive">An email has been sent to you with instructions on resetting your password.</div>
        <button class="button button-full button-clear button-calm" ng-click="login()">
            Log In
        </button>
    </ion-content>
</ion-view>
