/* Empty. Add your own CSS if you like */


/* TODO find a better/built-in solution */

.workgenius-logo {
    background-image: url("../img/logo.png") !important;
    background-size: 100% !important;
    width: 32px;
    background-repeat: no-repeat !important;
}
/* TODO Find better placeholder */
.workgenius-logo.title {
	margin: 5px 0 0 -15px;
	left: 50% !important;
}
.login-signup {
	padding-top: 10px;
	text-align: center;
}
.login-signup a {
	text-decoration: underline;
}
/* Login Form Validation */
form input.ng-invalid.ng-touched {
	border-bottom: 1px solid #FA787E;
}

.loginError {
	color: red;
}

.register .box {
	padding-bottom: 40px;
}
.register .list {
	padding: 1px;
}
.companies .col {
	text-align: center;
}
.companies .col img {
	width: 33%;
	height: auto;
	opacity: 0.5;
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
}
.companies .col img.selected {
	opacity: 1;
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.days .icon {
	font-size: large;
}

.days .title {
	text-align: center;
	padding-top: 10px;
}
.days .title p {
	margin: 0;
}
.wg-red {
	line-height: 40px;
	color: #B30000;
}
.wg-blue {
	line-height: 40px;
	color: #2D98CB;
}
.weeklyTarget {
	text-align: center;
}
.weekly-hours {
    font-size: 56px;
    padding: 30px;
    font-weight: 500;
}
.currency-estimate {
    font-size: 40px;
    font-weight: 400;
}
.light-green {
    color: #40C06C;
}
.light-blue {
    color: #53ADF0;	
}
.light-blue-background {
    background-color: #53ADF0;
}
.small-light {
	padding: 20px;
	color: #BCBCBC;
}
.schedule-text {
	float: left;
}
.schedule-text div {
	font-size: small;
    line-height: 12px;
}
.earnings, .hours {
	text-align: center;
}
.earnings h4 {
	color: #53ADF0;
}
.hours h4 {
	color: #F0C330;
}
.item-company-icon > img:first-child {
    border-radius: 0;
}
div.color-divider {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.color-divider span {
    height: 1px;
    margin: 0;
    padding: 0;
    flex-grow: 1;
}
.color-divider span:nth-child(2n) {
    background-color: #F0C330;
}
.color-divider span:nth-child(2n+1) {
    background-color: #53ADF0;
}
/*form input.ng-valid.ng-touched {
    border-bottom: 1px solid #78FA89;
}
*/
.left-top {
	float: left;
}
.right-top {
	float:right;
}
.wrkgns-small-light-text {

}
.shift {
	padding: 20px 20px 0 20px;
}
.shift .left-top {
	float: left;
}
.shift .right-top {
	float: right;
}
.shift .row:last-child {
	padding: 0;
}
.shift .img-box {
	text-align: center;
}
.shift .img-box img {
	padding: 10px 0 5px 0;
	width: 50%;
}
.shift .time-box {
	text-align: center;
}
.shift h4 {
	color: #53ADF0;
	margin-top: 0;
}
.shift p {
	margin-bottom: 0;
}
.shift .button-small {
	display: block;
	margin: 12% auto;
	padding: 2px 10px;
}
.shift-title div:first-child {
	text-transform: uppercase;
}
.shift-title div:last-child {
	right: 0;
}
.shift-name,
.shift-date {
	font-size: small
}
.shift-header {
	text-transform: uppercase;
}
.shift-header,
.shift-earnings {
	color: gray;
	font-size: smaller;
}
.shift-earnings {
	color: #505050;
}
.box-outline {
	border: 1px solid lightGray;
	border-bottom: 0;
}
.box-outline:not(:last-child) {
	border-right: 0;
}
.item-avatar img {
	height: auto !important;
}
.wg-earnings-toggler {
    background-color: #F8F8F8;
    height: 40px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    font-size: larger;
    color: #383838;
    border-bottom: 0.1em solid #D5D5D5;
    border-top: 0.1em solid #D5D5D5;
    margin-top: -1px;
    text-align: center;
    line-height: 38px;
}
.wg-earnings-toggler span {
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	-o-flex: 1;
	flex: 1;
}
.wg-earnings-toggler span:first-child {
	border-right: 0.1em solid #D5D5D5;
}

.wg-earnings-toggler span.cow{
    background-color: #328AC4;
    color: white;
}
.wg-earnings-toggler span.wgBlueBack{
    background-color: #328AC4;
    color: white;
}
.wg-earnings-toggler span.wgYellowBack{
    background-color: #F0C330;
    color: white;
}
.item.range {
	border: none;
}
.wg-pager-header {
    height: 66px;
}
.has-pager-header {
	top: 110px;
}
.wg-pager {

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

    margin: auto;
    padding: 25px 0 15px 0;
    width: 250px;
    text-align: center;
}
.wg-pager>span{

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	-webkit-flex: 2;
	-moz-flex: 2;
	-ms-flex: 2;
	-o-flex: 2;
	flex: 2;
}
.wg-pager>span:last-child{

	-webkit-flex: 0 0 21px;
	-moz-flex: 0 0 21px;
	-ms-flex: 0 0 21px;
	-o-flex: 0 0 21px;
	flex: 0 0 21px;
}
.wg-pager-selected .wg-dash,
.wg-pager-selected .wg-circle {
    background-color: #2D98CB !important;
}
span.wg-circle {
    background-color: #DDDDDD;
    border-radius: 100px;
    width: 21px;
    color: white;
    position: relative;
}

span.wg-dash {
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	-o-flex: 1;
	flex: 1;
    height: 2px;
    margin: auto;
    background-color: #DDDDDD;
}
.wg-pager-label {
    position: absolute;
    top: -22px;
    overflow: visible;
    width: 100px;
    left: -40px;
    font-size: smaller;
    display: none;
}
.wg-pager-selected .wg-pager-label {
	display: block;
    color: #2D98CB !important;
}
.wg-buttons-line {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.wg-buttons-line button {
	margin: 10px;
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	-o-flex: 1;
	flex: 1;
}
.wg-center-header {
	text-align: center;
}
.wg-blue {
	color: #2D98CB;
}
.wg-tiny {
	/*font-size: medium;*/
}
.item-company-icon img {
	border-radius: 0 !important;
}
.has-subheader.has-pagerheader {
	padding-top: 23px !important;
}
.wg-profile-photo {
	width: 150px;
    height: 150px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: auto;
}
.wg-profile-wrapper {
	padding: 30px;
}
.wg-user-name {
	text-align: center;
	padding-bottom: 30px;
}
.wg-flex-calendar-header {
    top: 44px;
    position: relative;
    z-index: 999;
    background-color: white;
}
.has-calendar {
    top: 318px;
}